<div ng-class="!poll.img ? 'text-poll' : 'img-poll'" >
    <div class="top-bar-wrapper">
        <div class="item item-avatar custom-item pull-left col-66" ng-if="poll.posted_as != 4" ui-sref="app.user({id:poll.author.ID, reveal : poll.posted_as})">
            <img ng-src="{{poll.posted_as != 1 ? 'img/user-icon.png' : poll.author.img}}">
            <h2 class=" poll-name-user" ng-if="poll.posted_as == 1">{{ poll.author.display_name}}</h2>
            <h2 class=" poll-name-user" ng-if="poll.posted_as == 3">{{ poll.author.user_nicename}}</h2>
        </div>
        <div class="item item-avatar custom-item pull-left col-66" ng-if="poll.posted_as == 4" >
            <img ng-src="{{poll.posted_as != 1 ? 'img/user-icon.png' : poll.author.img}}">
            <h2 class=" poll-name-user">Anonymous</h2>
        </div>

        <!-- ng-if="poll.is_explicit || poll.is_mature" -->
        <div class="tags custom-vln  tar row">
            <div class="custom-vln tar" ng-click="openPopover($event, poll, $index)">
                <h2><span class="fz21 ion-android-more-vertical" ></span></h2>
            </div>
            <div class="custom-vln tar" ng-if="poll.reposts != ''" ng-click="getRepostedBy(poll.id)">
                <h2 class=" no-border reposts-icon"><span class="ion-ios-loop-strong icon  "></span></h2>
            </div>
            <div class="custom-vln tar" ng-if="poll.is_explicit == 1 || poll.is_mature == 1">
                <h2 class="tag-text">18+</h2>
            </div>

        </div>
        <!--   <div class="poll-separator-ver pull-right"></div>  -->
    </div>
    <div class="poll-separator"></div>
    <div class="clear-fix"></div>
    <div class="item item-text-wrap padding10 poll-question-text" ng-bind-html="poll.title"  ng-click="participate($event, poll.id, poll.options)">
    </div>
    <div class="item item-text-wrap poll-image p0 pb0">
        <img ng-src="{{poll.img}}" alt="" ng-if="poll.img"  ng-click="participate($event, poll.id, poll.options)">
    </div>
    <div class="item poll-topbar padding10">
        <div class="poll-id pull-left not-link">#{{poll.id}}</div>
        <div class="poll-id pull-right"> <span>{{poll.time_remaining}}</span>
        </div>

    </div>

    <div class="item item-text-wrap p0 poll-answer-options hidden" data-toggle="{{poll.id}}"> 
        <form class="vote{{poll.id}}" ng-if="poll.participants.indexOf(uid) < 0"> 
            <ul class="options">
                <li ng-repeat="opt in poll.options">
                    <!--         <label class="checkbox w100">
                        <ion-item class="item {{ opt.image ? 'item-avatar' : ''}}" ng-click="vote()">
                            <img ng-src="{{opt.image.url}}" ng-if="opt.image" class="thumbnail-image item-checkbox-img "/> {{ opt.option}}
                            <input type="radio" name="options[]" value="{{ opt.id}}" class="option-checkbox">
                        </ion-item>

                    </label> -->
                    <label class="checkbox custom-checkbox w100">
                        <ion-item class="item {{ opt.image ? 'item-avatar' : ''}} ion-item-custom mt0" ng-click="vote(poll.id, opt.id, poll,$parent.$index)">
                            <img ng-src="{{opt.image.url}}" ng-if="opt.image" class="thumbnail-image item-checkbox-img " /> 
                            <span class="poll-option">{{ opt.option}}</span>
                            <input type="radio" name="options[]" value="{{ opt.id}}" class="option-checkbox toggle-energized pull-right">
                        </ion-item>
                    </label>
                </li>
            </ul>
            <input type="hidden" name="pollid" value="{{poll.id}}" />
        </form>
        <div class="voteOption{{poll.id}}" ng-if="isLoggedIn && !(poll.participants.indexOf(uid) < 0)">
            <ul class="options">

                <li ng-repeat="opt in poll.options">          
                    <label class="checkbox custom-checkbox w100">
                        <ion-item class="item {{ opt.image ? 'item-avatar image-avatar-option' : ''}} ion-item-custom mt0" ng-click="vote()">
                            <div class="circle-result" ng-style="{'background-image': 'url({{opt.image.url}})'}">{{(opt.number_of_votes / poll.participants.length)*100 || 0 | number:0}}%</div>
                            <span class="poll-option">{{ opt.option}}</span>
                            <div class="progress-bar-wrap"><div class="progress-bar" ng-style="{width:{{(opt.number_of_votes / poll.participants.length) * 100}} +  '%'}" ></div></div>
                        </ion-item>
                    </label>
                </li>
            </ul>
        </div>
        <div>
            <div class="poll-separator"></div>
            <div class="row no-height-row">
                <div class="col txt-left  fz12" data-like-id="{{poll.ID}}" data-like="{{poll.likes.length|| 0}}"> {{poll.likes.length|| 0}} Like(s) </div>
                <div class="col txt-right fz12">{{poll.participants.length}} Vote(s)</div>
            </div>
            <div class="poll-separator"></div>
        </div> 

    </div>
    <div class="item item-text-wrap padding10 row poll-action-panel">

        <a class="button poll-option-btn ion-android-checkmark-circle button-clear button-dark black fz20 col" data-ref="{{poll.id}}" ng-click="participate($event, poll.id, poll.options)"><span class="vlm">Vote</span></a>

        <a class="button poll-option-btn ion-android-share-alt button-clear button-dark black fz20 col" ng-click="socialShare(poll.title, poll.title, poll.img)"><span class="vlm">Share</span></a>
        <a class="button poll-option-btn ion-ios-loop-strong button-clear button-dark black fz20 col" ng-click="performTask('repost', poll.id)"><span class="vlm">Re-Post</span></a>
    </div>
</div>
