<div ng-class="!poll.img ? 'text-poll' : 'img - poll'" >
    <div class="top-bar-wrapper">
        <div class="item item-avatar custom-item pull-left col-66" ng-if="poll.posted_as != 4 && userId!=poll.author.ID" ui-sref="app.user({id:poll.author.ID, reveal : poll.posted_as,uid:poll.author.ID})">
            <img ng-if="poll.posted_as != 3" ng-src="{{poll.posted_as != 1 ? 'img/user-icon.png' : poll.author.img}}">
            <img ng-if="poll.posted_as == 3" ng-src="img/pin_reaveal_icon.png">
            <h2 class=" poll-name-user" ng-if="poll.posted_as == 1">{{ poll.author.display_name}}</h2>
            <h2 class="poll-name-user text-middle" ng-if="poll.posted_as == 3" style="text-transform: none;">{{ poll.author.pin}}</h2>
            <p class="msg-header-username" ng-if="poll.posted_as == 1">@{{ poll.author.user_login}}</p>

        </div>
               <div class="item item-avatar custom-item pull-left col-66" ng-if="poll.posted_as != 4 && userId==poll.author.ID" ui-sref="app.my-profile({id:poll.author.ID, reveal : poll.posted_as})">
            <img ng-if="poll.posted_as != 3" ng-src="{{poll.posted_as != 1 ? 'img/user-icon.png' : poll.author.img}}">
            <img ng-if="poll.posted_as == 3" ng-src="img/pin_reaveal_icon.png">
            <h2 class=" poll-name-user" ng-if="poll.posted_as == 1">{{ poll.author.display_name}}</h2>
            <h2 class="poll-name-user text-middle" ng-if="poll.posted_as == 3" style="text-transform: none;">{{ poll.author.pin}}</h2>
            <p class="msg-header-username" ng-if="poll.posted_as == 1">@{{ poll.author.user_login}}</p>

        </div>
        <div class="item item-avatar custom-item pull-left col-66" ng-if="poll.posted_as == 4" >
            <img ng-src="{{poll.posted_as != 1 ? 'img/user_anonymous_icon.png' : poll.author.img}}">
            <h2 class=" poll-name-user text-middle">Anonymous</h2>

        </div> 
                <!-- ng-if="poll.is_explicit || poll.is_mature" -->
        <div class="tags custom-vln  tar row">
<!--            <div class="custom-vln tar" ng-click="openPopover($event, poll, $index)">
                <h2><span class="fz21 ion-android-more-vertical" ></span></h2>
            </div>-->
            <div class="custom-vln tar" ng-if="poll.reposts != ''" ng-click="getRepostedBy(poll.id)">
                <h2 class=" no-border reposts-icon"><span class="ion-ios-loop-strong icon  "></span></h2>
            </div>
         
      <div class="" ng-if="poll.is_explicit == 1 || poll.is_mature == 1">
                <h2 class="tag-text">18+</h2>
            </div>
        </div>
 
    </div>
    <div class="poll-separator"></div>
    <div class="clear-fix"></div>
    <div ui-sref-opts="{reload: false, notify: true, cache: false}" ui-sref="app.closed_polldetails({id:poll.id})" class="item item-text-wrap padding10 poll-question-text" ng-bind-html="poll.title">
    </div>
    <div class="item item-text-wrap poll-image p0 pb0">
        <img ng-src="{{poll.img}}" alt="" ng-if="poll.img"  ng-click="imageView(poll.img)">
    </div>
    <div class="item poll-topbar padding10">
        <div class="poll-id pull-left not-link">#{{poll.id}}</div>
        <div class="poll-id pull-right"> <span>{{poll.time_remaining}}</span>
        </div>

    </div>

    <div class="item item-text-wrap p0 poll-answer-options " data-toggle="{{poll.id}}"> 

        <div class="voteOption{{poll.id}}" ng-if="isLoggedIn ">
            <ul class="options">
                <li class="nlist" ng-repeat="opt in poll.options">    
                    <div class="circle-result" ng-style="{'background-image': 'url({{opt.image.url}})'}" ng-if="opt.image.url" ng-click="imageView(opt.image.url)"  ></div>


                    <label  class="checkbox custom-checkbox w100">
                        <ion-item class="item {{ opt.image ? 'item-avatar image-avatar-option' : ''}} ion-item-custom mt0">

                            <div class="Nproressbar" ng-click="vote()">
                                <span class="poll-option ptitle">{{ opt.option}}</span>
                                <span class="poll-option pers">{{((opt.number_of_votes) / poll.participants.length) * 100 || 0 | number:0}}%</span>
                                <div class="clr"></div>
                                <div class="progress-bar-wrap"><div class="progress-bar" ng-style="{width:{{((opt.number_of_votes) / poll.participants.length) * 100}} +  '%'}" ></div></div>
                            </div>

                        </ion-item>
                    </label>
                </li>
            </ul>
        </div>
        <div>
            <div class="poll-separator"></div>
            <div class="row no-height-row">
                <div class="col txt-left  fz12" data-like-id="{{poll.ID}}" data-like="{{poll.likes.length|| 0}}"> {{poll.likes.length|| 0}} Like(s) </div>
                <div class="col txt-right fz12">{{poll.participants.length}} Vote(s)</div>
            </div>
            <div class="poll-separator"></div>
        </div> 

    </div>
    <div class="item item-text-wrap padding10 row poll-action-panel">        
        <a class="button poll-option-btn ion-ios-heart-outline icon-red button-clear button-dark black fz20 col" ng-show="!isLike(poll)" ng-click="performTask('like', poll.id, $index)"><span class="vlm">Like</span></a>
        <a class="button poll-option-btn ion-ios-heart icon-red button-clear button-dark black fz20 col" ng-show="isLike(poll)" ng-click="performTask('unlike', poll.id, $index)"><span class="vlm">Unlike</span></a>
        <a class="button poll-option-btn ion-android-share-alt button-clear button-dark black fz20 col" ng-click="socialShare(poll.title, poll.title, poll.img, poll.id)"><span class="vlm">Share</span></a>
        <a class="button poll-option-btn ion-ios-loop-strong button-clear button-dark black fz20 col" ng-click="performTask('repost', poll.id)"><span class="vlm">Re-Post</span></a>
        <a class="button poll-option-btn ion-ios-more button-clear button-dark black fz20 col" ng-click="openPopover($event, poll, $index)"></a>
    </div>
</div>



