<ion-view  hide-menu-button="true">
    <ion-nav-title>
        Create Group
    </ion-nav-title>
    <ion-nav-buttons side="right"> 
<!--        <button class="button button-icon button-clear ion-search" ng-click="clickButton()">
        </button> -->
        <!--        <button class="button button-icon button-clear ion-android-more-vertical" ng-click="showPopup($event)" >
                </button> -->
        <!--     <button class="button button-icon button-clear ion-android-person-add" ng-if='isLoggedIn' ui-sref='app.friendrequests' ui-sref-opts="{cache: false}">
                <span class="badge badge-assertive" ng-if='user.friend_requests_received.length > 0'>{{ user.friend_requests_received.length >100 ? '99+' : user.friend_requests_received.length }}</span>
            </button> -->

    </ion-nav-buttons> 
    <ion-content class="has-footer">
        
        <div style="text-align: center;">
            <button class="button button-block" ng-click="invitToGroup()">Invite</button>
        </div>
        <div class="list" style="text-align: center">                    
            <button class="button button-block" ng-click="userSearch()"><i class="icon ion-search"></i> Search Users </button>
            <input ion-autocomplete type="text"   class="get-users"  items-method-value-key="items" items-method="getTestItems(query)"  autocomplete="off" ng-model="sterm" item-view-value-key="display_name" items-clicked-method="selectAction(callback)"  manage-externally="true" ng-show="false" max-selected-items="1" required loading-icon="ios-small"/>
        </div>
        <form class="createGroup" style="font-size: 17px;">
            <div class="padding" style="">
                <h4>Members</h4>
                <div class="user-list"> 
                    <div ng-show="member && groupinfo.author_id != member.ID" class="user-b" ng-repeat="member in members track by $index">
                        <div class="user-add-icon"><i ng-click="removeMember($index)" class="ion-close-circled" ></i></div><div><img src="{{member.img ? member.img : 'img/user-icon.png'}}" class="profile-icon-small" /> {{member.display_name}}</div>
                    </div>
                </div>                 
            </div>
            <button class="button button-balanced button-block poll-btn" type="button" ng-click="saveGroup(members)">Update Members</button>
        </form>
    </ion-content>
</ion-view>
