<ion-view hide-menu-button="true">
    <ion-nav-title>
        Create Poll ({{acitveTab == 'tab1' ? '1' : (acitveTab == 'tab2' ? '2' : '3')}}/3)
    </ion-nav-title>
    <ion-nav-buttons side="right">

    </ion-nav-buttons>
    <ion-content class="has-footer" has-bouncing="false">


        <!-- testing -->

        <form class="createPoll" >
            <input type='hidden' name='userId' value="{{userId}}" />
            <div class="tab1" ng-show="acitveTab == 'tab1'">
                <div class="">
                    <!-- ngRepeat: type in pollTypes --><label class="poll-block" ng-click="manageTabs(1, 'cloneBlock')" for="16">
                        <div class=" ">
                            <img alt="" class="poll-type-imge" src="img/Multiple-Choise-1.jpg">
                            <input type="radio" style="display:none" name="polltype" id="16" value="16">
                            <div class=" ">
                                <div class=" ng-binding">Multiple Choice </div>
                            </div>

                        </div>
                    </label><!-- end ngRepeat: type in pollTypes --><label class="poll-block" ng-click="manageTabs(2, 'cloneBlock')" for="15">
                        <div class=" ">
                            <img   alt="" class="poll-type-imge" src="img/Multiple-Choise.jpg">
                            <input type="radio" style="display:none" name="polltype" id="15" value="15">
                            <div class=" ">
                                <div class=" ng-binding">Multiple Choice with Image </div>
                            </div>

                        </div>
                    </label><!-- end ngRepeat: type in pollTypes --><label class="poll-block" ng-click="manageTabs(3, 'cloneBlock')" for="17">
                        <div class=" ">
                            <img   alt="" class="poll-type-imge" src="img/referendum.jpg">
                            <input type="radio" style="display:none" name="polltype" id="17" value="17">
                            <div class=" ">
                                <div class=" ng-binding">Referendum </div>
                            </div>

                        </div>
                    </label><!-- end ngRepeat: type in pollTypes --><label class="poll-block" ng-click="manageTabs(4, 'cloneBlock')" for="14">
                        <div class=" ">
                            <img  alt="" class="poll-type-imge" src="img/True-False.jpg">
                            <input type="radio" style="display:none" name="polltype" id="14" value="14">
                            <div class=" ">
                                <div class=" ng-binding">Yes/No </div>
                            </div>

                        </div>
                    </label><!-- end ngRepeat: type in pollTypes --></div>

            </div>
            <div class="tab2" ng-show="acitveTab == 'tab2'">
                <ul class="list">
                    <li>
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Post As*  
                            </div>
                            <select name="posted_as" ng-model="posted_as" >
                                <option value="1" ng-selected="true">Public</option>
                                <option value="2">Private (Only Friends Can View)</option>
                                <option value="3">Reveal Only Pin (Only Your Pin will be Revealed)</option>
                                <option value="4">Anonymously</option>
                                <!--                        <option value="5">Group</option>-->
                            </select>
                        </label>
                    </li>
                    <li>
                        <div class="item" ion-datetime-picker  only-valid="{'after': 'today', 'inclusive': true}"  ng-model="datetimeValue">
                            Poll Valid Till*
                            <span class="pull-right">{{datetimeValue| date: "yyyy-MM-dd H:mm:ss"}}</span>
                            <i class="icon icon-left ion-calendar pull-right mr10"></i>
                            <input type="text" name="valid_till" style="display:none" value="{{datetimeValue| date: 'yyyy-MM-dd H:mm:ss'}}">
                        </div>
                    </li>

                    <div class="  poll-type left-checkbox">



                        <ion-checkbox   name="is_explicit" ng-model="explicit" ng-value="explicit">


                            Explicit Content <div class="tooltip">(Select if Poll contains nudity)</div>
                        </ion-checkbox> 
                        <ion-checkbox   name="is_mature" ng-model="content" ng-value="content">
                            Mature Content <div class="tooltip">(Select if Poll contains drugs/adulatory related content)</div>
                        </ion-checkbox> 


                    </div>

                    <div class="filterpopup">
                        <li class="item item-input item-stacked-label">
                            <span class="input-label">Interest Areas </span> 
                            <input type="text"  ng-model="search" placeholder="Search Interest Area" />
                        </li>

                        <div class="limitArea">
                            <ion-checkbox ng-repeat="interest in interests| filter:search"  name="interests[{{interest.term_id}}]" ng-value=" interest.term_id ">
                                <span class="label vlm" ng-bind-html="interest.name"> </span> </ion-checkbox> 
                        </div>        
                    </div>
                </ul>
                <button class="button button-balanced button-block poll-btn" ng-disabled="!datetimeValue || !posted_as" type="button" ng-click="manageTabs()">Next</button>
            </div>
            <div class="tab3" ng-show="acitveTab == 'tab3'">
                <li class="item">
                    <span class=" ">Poll Question *</span>
                    <textarea   name="pollname" id="pollquestion" ng-model="pollquest" autofocus max="140" class="pollquestion" maxlength="140" placeholder="Enter Poll Question, Max 140 Characters*"  required></textarea>
                </li>
                <li class="item item-input">
                    <span class="mr10">Poll Image </span>
                    <input type='hidden' value='' name='pollimg'/>
                    <input type="file" placeholder="Image" name="pollimg" style="float: right;">

                </li>
                <li class="item ">
                    <span class=" ">Tags <br>(Ex: Election, Adorable, Pokemon etc. Press space to input multiple tags)</span>
                <tags-input ng-model="tags"></tags-input>
                <input type="hidden" id="tags" name="tags" value="{{tags}}">
                </li>
                <li class="item options">
                    Add Options * <span class="minimumText">(Minimum Two)</span>
                    <i class="icon ion-ios-plus-outline pull-right addOptions" ng-click="addOption()"></i>
                </li>

                <button class="button button-balanced button-block poll-btn" ng-disabled="!(pollquest)" ng-click="createPoll()">Submit Poll</button>
            </div>
        </form>

        <div class="toClone cloneMultiChoice" >

            <ul class="list">
                <li class="item">
                    <div class="optionMultiChoice">
                        <label class="item item-input">
                            <input type="text" name="option[1][text]" placeholder="Option Text">
                        </label>
                    </div>
                    <div class="deleteOptionWrap"> <i class="icon ion-ios-minus-outline pull-right deleteOption"></i></div>
                </li>
            </ul>
        </div>

       <div class="toClone cloneWithImage" >
            <ul class="list">
                <li class="item">
                    <div class="  optionWithImageImg  " >
                        <input type="hidden" name="option[1][image]"  />
                        <input type="file" name="option[1][image]" class=""  />

                        <div class="option[1][image]"></div>
                        <img src="" id="option[1][image]" alt="">
                    </div>
                    <div class="optionWithImage">
                        <label class="item item-input">
                            <input type="text" name="option[1][text]" placeholder="Option Text">
                        </label>
                    </div>
                    <div class="deleteOptionWrap"> <i class="icon ion-ios-minus-outline pull-right deleteOption"></i></div>
                </li>
            </ul>
        </div>
       <div class="toClone cloneReferendum" >
            <ul class="list">
                <li class="item">
                    <div class="  optionReferendumImg  " >
                        <input type="hidden" name="option[1][image]"  />
                        <input type="file" name="option[1][image]" class="custom-file-input"   />
                        <div class="option[1][image]"></div>
                        <img src="" id="option[1][image]" alt="">
                    </div>
                    <div class="optionReferendum ">
                        <label class="item item-input">
                            <input type="text" name="option[1][text]" placeholder="Option Text">
                        </label>
                    </div>
                    <div class="deleteOptionWrap"> <i class="icon ion-ios-minus-outline pull-right deleteOption"></i></div>
                </li>
            </ul>
        </div>

        <div class="toClone cloneYesNo" >
            <ul class="list">
                <li class="item">
                    <div class=" optionYesNo">
                        <label class="item item-input">
                            <input class="yesNoAppend" type="text" name="option[1][text]" placeholder="Option Text">
                        </label>
                    </div>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>
