<ion-view  hide-menu-button="true">
    <ion-nav-title>
        Create Group
    </ion-nav-title>
    <ion-nav-buttons side="right"> 
        <button class="button button-icon button-clear ion-search" ng-click="clickButton()">
        </button> 
        <!--        <button class="button button-icon button-clear ion-android-more-vertical" ng-click="showPopup($event)" >
                </button> -->
        <!--     <button class="button button-icon button-clear ion-android-person-add" ng-if='isLoggedIn' ui-sref='app.friendrequests' ui-sref-opts="{cache: false}">
                <span class="badge badge-assertive" ng-if='user.friend_requests_received.length > 0'>{{ user.friend_requests_received.length >100 ? '99+' : user.friend_requests_received.length }}</span>
            </button> -->

    </ion-nav-buttons> 
    <ion-content class="has-footer">

        <input type='hidden' name='userId' value="{{userId}}" />

        <form class="createGroup" style="font-size: 17px;">
            <div class="padding" style="border: 1px solid #ccc;margin: 5px;">
            <ul class="list" style="margin-bottom: 0px;">
                <li><div class="search-icon"><i class="icon ion-search"></i></div>                            
                    <input type="text" placeholder="Search User" name="group_name" class="user-searchbox">
                </li>

            </ul>
            <div class="user-list"> 
                <div class="user-b"><div class="user-add-icon"><i class="ion-plus"></i></div><div>absdgsdgfc</div></div>
                <div class="user-b"><div class="user-add-icon"><i class="ion-plus"></i></div><div>abcdfhfghfghfgh</div></div>
                <div class="user-b"><div class="user-add-icon"><i class="ion-plus"></i></div><div>sdfsd  sdfs abc</div></div>

            </div>
            </div>
            <div class="padding">
                <h4>Group Members</h4>
                <div class="user-list " style="border: 1px solid #ccc;"> 
                    <div class="user-b"><div class="user-add-icon"><i class="ion-close-circled"></i></div><div>absdgsdgfc</div></div>
                    <div class="user-b"><div class="user-add-icon"><i class="ion-close-circled"></i></div><div>absdgasfsdgfc</div></div>
                    <div class="user-b"><div class="user-add-icon"><i class="ion-close-circled"></i></div><div>absdgsadfasdfsdgfc</div></div>
                    <div class="user-b"><div class="user-add-icon"><i class="ion-close-circled"></i></div><div>absdgsdgfc</div></div>
                    <div class="user-b"><div class="user-add-icon"><i class="ion-close-circled"></i></div><div>absdgsasfasfdgfc</div></div>


                </div>
            </div>

            

            <button class="button button-balanced button-block poll-btn" type="button" ng-click="createNewGroup(newGroup)">Update Members</button>
            <div class="padding" style="text-align: center;">
                <button class="button button-stable">Invite</button>
            </div>
        </form>

    </ion-content>


</ion-view>
