<ion-view hide-menu-button="true">
    <ion-nav-title>
        Create A New Poll
    </ion-nav-title>
        <ion-subheader-bar class="bar bar-subheader newpoll-subheader">
 
        
            <a class="button cat-button"   ng-class="acitveTab == 'tab1' ? 'subnav-active' : ''" ng-click="manageTabs('tab1', 'nav')">Step 1</a>
            <a class="button cat-button"    ng-class="acitveTab == 'tab2' ? 'subnav-active' : ''" ng-click="manageTabs('tab2', 'nav')">Step 2</a>
            <a class="button cat-button"   ng-class="acitveTab == 'tab3' ? 'subnav-active' : ''" ng-click="manageTabs('tab3', 'nav')">Step 3</a>
           
    </ion-subheader-bar>
    <ion-content class="has-footer has-poll-subheader">
    <form  class="createPoll">
        <div class="tab1" ng-show="acitveTab == 'tab1'">
             <div class="row"> 
                 <div class="block col">
                     <div class="cover-item-wrapper">
        <div class="cover-item yes-no-bg">
        <div class="cover-overlay" ng-click="manageTabs()"> 
            <div class="cover-input-about cover-input-about1">
        <div class="cover-heading-text about-cover-text">Yes/ No </div> 
        </div>  
        </div>
        </div>
    </div> 

                     



                 </div>
                 <div class="block col">
                     <div class="cover-item-wrapper">
        <div class="cover-item multiple">
        <div class="cover-overlay" ng-click="manageTabs()"> 
            <div class="cover-input-about cover-input-about1">
        <div class="cover-heading-text about-cover-text"> 
                     Multiple Choice</div> 
        </div>  
        </div>
        </div>
    </div> 


                 </div>
</div>
      <div class="row"> 
                 <div class="block col">
                     <div class="cover-item-wrapper">
        <div class="cover-item image-poll">
        <div class="cover-overlay" ng-click="manageTabs()"> 
            <div class="cover-input-about cover-input-about1">
        <div class="cover-heading-text about-cover-text"> Image Poll</div> 
        </div>  
        </div>
        </div>
    </div> 

                     



                 </div>
                 <div class="block col">
                     <div class="cover-item-wrapper">
        <div class="cover-item refe">
        <div class="cover-overlay" ng-click="manageTabs()"> 
            <div class="cover-input-about cover-input-about1">
        <div class="cover-heading-text about-cover-text"> 
                   Referendum</div> 
        </div>  
        </div>
        </div>
    </div> 


                 </div>
</div>
             
      <!--       <button class="button button-balanced button-block" type="button" ng-click="manageTabs()">Next</button>  -->
             </div>
         
        <div class="tab2" ng-show="acitveTab == 'tab2'">
            <ul class="list">
 
                <li >
                   <label class="item item-input item-select">
    <div class="input-label">
      Posting As
    </div>
    <select>
      <option selected>Choose</option>
      <option>Blue</option>
      <option >Green</option>
      <option>Red</option>
    </select>
  </label>
                </li>
                <li >
       <div class="item" ion-datetime-picker ng-model="datetimeValue">
                Poll Valid Till*
                <span class="pull-right">{{datetimeValue| date: "yyyy-MM-dd H:mm:ss"}}</span>
         <i class="icon icon-left ion-calendar pull-right mr10"></i> 
    </div>
                </li>
<li class="item item-toggle">
     Explicit Content
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
<li class="item item-toggle">
     Mature Content
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
  <li class="item item-toggle">
     Resgion Specific
     <label class="toggle toggle-balanced">
       <input type="checkbox" ng-model="resgion">
     <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
         
  <li class="item item-input item-floating-label" ng-if="resgion">
           <span class="input-label">Resgion  </span>
   <input type="text" g-places-autocomplete ng-model="myScopeVar"  placeholder="Enter google location here" />
  </li>
          

     
                <li class="item">
                    Interest Areas
<div class="interest-wrapper">
                    <div ng-repeat="interest in interests">
                        <label class="checkbox vlm w100">

                            <input type="checkbox" class="interest-checkbox" name="interests[]" value="{{ interest.term_id}}"> 
                        <span class="label vlm" ng-bind-html="interest.name"> </span>
                        </label>
                    </div>
</div>
                </li>

            </ul>
            <button class="button button-balanced button-block" type="button" ng-click="manageTabs()">Next</button> 

        </div>
        <div class="tab3" ng-show="acitveTab == 'tab3'">
                       <li class="item item-input item-floating-label">
                    <span class="input-label">Question *</span>
                    <input type="text" name="pollname" max="140" placeholder="Poll Question, Max 140 Characters" required>
                </li>

                  <li class="item ">
                    <span class=" ">Poll Description *</span>
                        <tags-input ng-model="tags"></tags-input>
                </li>

             

                <li class="item options">
                    Add Options * (Minimum Two)
                    <i class="icon ion-ios-plus-outline pull-right addOptions" ng-click="addOption()" ></i>
                </li>


               
                <li class="item item-input">
                    <span class="input-label">Poll Image</span>
                    <input type="file" placeholder="Image" name="pollimg" class="custom-file-input" style="float: right;">
                </li>
            <button class="button button-balanced button-block" ng-click="createPoll()">Submit Poll</button>


        </div>
    </form>
      <!--   <form class="createPoll" >
            <ul class="list">

                <li class="item item-input item-floating-label">
                    <span class="input-label">Question *</span>
                    <input type="text" name="pollname" max="140" placeholder="Poll Question, Max 140 Characters" required>
                </li>

                <li class="item item-input">
                    <span class="input-label">Poll Image</span>
                    <input type="file" placeholder="Image" name="pollimg" class="custom-file-input" style="float: right;">
                </li>

                <li class="item item-input">
                    <span class="input-label">Post As *</span>
                    <select name="posted_as" required>
                        <option value="1">Public</option>
                        <option value="2">Private (Only Friends Can View)</option>
                        <option value="3">Reveal Only Pin (Only Your Pin will be Revealed)</option>
                        <option value="4">Anonymously</option>
                    </select>
                </li>



                <li class="item">
                    Multiple Answers
                    <label class="checkbox vlm pull-right">
                        <input type="checkbox" name="multiple_answers" value="Yes">
                    </label>
                </li>
                <li class="item item-input">
                    <span class="input-label">Poll Valid Till *</span>
                    <input type="date" name="valid_till" />
                </li>



                <li class="item options">
                    Add Options * (Minimum Two)
                    <i class="icon ion-ios-plus-outline pull-right addOptions" ng-click="addOption()" ></i>
                </li>


                <li class="item">
                    Interest Areas

                    <div ng-repeat="interest in interests">
                        <label class="checkbox vlm">
                            <input type="checkbox" name="interests[]" value="{{ interest.term_id}}"> 
                        </label>
                        <span class="label vlm" ng-bind-html="interest.name"> </span>
                    </div>

                </li>

            </ul>
            <button class="button button-balanced button-block" ng-click="createPoll()">Submit Poll</button>
        </form>
 -->
        <div class="toClone">
            <ul class="list">
                <li class="item">
                    <div class="  option">
                        <div class=" "><input type="file" name="option[1][image]" class="custom-file-input" /></div>
                        <label class="item item-input">
                            <input type="text"  name="option[1][text]" placeholder="Option Text">
                        </label>
                        <div class="col"> <i class="icon ion-ios-minus-outline pull-right deleteOption"  ></i></div>
                    </div>   
                </li>
            </ul>
        </div>

    </ion-content>
</ion-view>