 <script id="templates/filters.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-energized">
            <h1 class="title">Filter</h1>
            <button class="button button-icon button-clear ion-close-round" ng-click="closeFilters()" menu-toggle="right">
            </button>
        </ion-header-bar>
        <ion-content has-bouncing="false" class="filter-modal filterpopup poll-wrapper">
            <div class=" pm0">
   
                <div class=" white-bg">
          
 <div class="list poll-type">

 

  <div class="item title">
    Poll Type
  </div>
 
  <ion-checkbox ng-repeat="poll in pollTypes" ng-model="filter.pollType[$index]" ng-value="poll.term_id">{{::poll.name}}</ion-checkbox> 
  
</div>
 <div class="list poll-type">

 

  <div class="item title pt0">
    Privacy 
  </div>
      <li class="item item-toggle">
                        Explicit Content
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" name="is_explicit" ng-model="explicit" value="{{explicit}}">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                    <li class="item item-toggle">
                        Mature Content
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" name="is_content" ng-model="content" value="{{content}}">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
             
  
</div>
 <div class="list poll-type">

 

  <div class="item title pt0">
    Interest Areas
  </div>
              <li class="item item-input item-stacked-label">
                      
                        <input type="text"  ng-model="search" class="textbox-css" placeholder="Search Interest Area" />
                       
                    </li>
                        <div class=" ">
                            <div ng-repeat="interest in interests | filter:search">
                                <label class="checkbox vlm w100">
                                    <input type="checkbox" class="interest-checkbox" name="interests[]" value="{{ interest.term_id}}">
                                    <span class="label vlm" ng-bind-html="interest.name"> </span>
                                </label>
                            </div>
                        </div>
             
  
</div>
      
        </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar bar-footer ">
    <div class="button-bar">
  <button class="button  ml3 col" ng-click="filterCeleb('clear')">Clear Filter(s)</button>
        <button class="button poll-btn  mt-4 col" ng-click="closeFilters()">Done</button>
</div>
       
    </ion-footer-bar>
    </ion-modal-view>
    </script>
