<ion-view>
    <ion-nav-title>
        Group Name
    </ion-nav-title>
<ion-nav-buttons side="right"> 
</ion-nav-buttons>
    <ion-content class="has-footer">
        <div class="cover-item-wrapper cover-detail-wrapper">
            <div class="cover-item-detail profile-bg">
                <div class=" ">
                    <div class="row mb15">
                        <div class="celeb-img-detail profile-img-detail col-25 ">
                            <img ng-src="{{groupinfo.img==null? 'img/user-icon.png' : groupinfo.img}}">
                        </div>
                        <div class="celeb-img-detail  txt-left  col-75 ">

                            <h2 class="mb0 fs20 profile-name" ng-if="uid == cid">                            
                                {{groupinfo.title}}    
                                <span class="icon ion-edit edit-icon"  ng-click="editGroup(groupinfo.id)"></span>
                            </h2>                             
                            <div class="grp-subheading">Created By: {{groupinfo.author.display_name}}, {{groupinfo.date}}</div>
                        </div>
                    </div>                    
                    
                    
                </div>
            </div>
        </div> 
        <div>
            <ion-scroll direction="x" class="ion-sc" style="height: 49px;">
                <span class="tab-half-width" ng-class="activePan == 'members' ? 'active-item' : 'sub-menu-item'" 
                      ng-click="updatePan('members')">Members</span>

                <span class="tab-half-width" ng-class="activePan == 'requests' ? 'active-item' : 'sub-menu-item'"   
                      ng-click="updatePan('requests')">Requests</span>
            </ion-scroll>
        </div>

        <div ng-if="(activePan == 'members')" class="listing-content">            
            <div class="list grp-member-list">          
                <div class="item item-avatar" ng-repeat="getMembers in members">
                    <img ng-src="{{getMembers.img!=null?getMembers.img:'img/user-icon.png'}} " ui-sref="app.user({id:friendPending.ID, reveal : 1})">
                    <h2 ui-sref="app.user({id:friendPending.ID, reveal : 1})">{{getMembers.user_firstname}} {{getMembers.user_lastname}}</h2> 
                    <p class="mt10"> <input ng-click="removeMembers(groupinfo.id,getMembers.ID)" type="button" value="Remove" class=" button action-button button-positive"> </p>
                </div>
              
            
 
                <div class="no-result" ng-if="!members.length && false">No pending request(s)</div>
            </div> 
        </div>
        <div ng-if="activePan == 'requests'" ng-repeat="getMembersRequest in members_request">
            <div class="list grp-member-list">                
                <div class="item item-avatar">
                    <img ng-src="{{getMembersRequest.img!=null?getMembersRequest.img:'img/user-icon.png'}}" ui-sref="app.user({id:friendPending.ID, reveal : 1})">
                    <h2 ui-sref="app.user({id:friendPending.ID, reveal : 1})">{{getMembersRequest.user_firstname}} {{getMembersRequest.user_lastname}}</h2> 
                    <p class="mt10"> <input type="button" value="Accept" ng-click="memberAccept(groupinfo.id,getMembersRequest.ID)" class=" button action-button button-positive"> 
                        <input type="button" value="Reject" ng-click="memberReject(groupinfo.id,getMembersRequest.ID)" class=" button action-button button-assertive"> </p>
                </div>
              
                <div class="no-result" ng-if="!group.members.length && false">No pending request(s)</div>
            </div> 
        </div>

    </ion-content>
    <div class="fix-bottom">
        <button class="button button-assertive button-block" type="button" ng-click="exitGroup(newGroup)">Exit Group</button>
    </div>
    <script id="zoomimg.html" type="text/ng-template">
        <ion-modal-view class="transparentbg">

        <div class="zclose" ng-click="imageViewClose()">X</div>
        <ion-content style="background-image: url({{magnImage}});" class="zoimg">


        </ion-content>
        </ion-modal-view>
    </script>
</ion-view>