<ion-view  hide-menu-button="true">
    <ion-nav-title>
        Ask Audience
    </ion-nav-title>
    <ion-nav-buttons side="right"> 
        
        <!--        <button class="button button-icon button-clear ion-android-more-vertical" ng-click="showPopup($event)" >
                </button> -->
        <!--     <button class="button button-icon button-clear ion-android-person-add" ng-if='isLoggedIn' ui-sref='app.friendrequests' ui-sref-opts="{cache: false}">
                <span class="badge badge-assertive" ng-if='user.friend_requests_received.length > 0'>{{ user.friend_requests_received.length >100 ? '99+' : user.friend_requests_received.length }}</span>
            </button> -->

    </ion-nav-buttons> 
    <ion-content class="has-footer  listing-content">
        <ion-refresher pulling-text="Pull to get latest polls..." on-refresh="getPolls('pullRef')">
        </ion-refresher> 
        <div class="card" ng-repeat="getGroup in getGroupDetails" on-finish-render="ngRepeatFinished">
            <div style="width: 69.8%;" class="item item-avatar custom-item pull-left" ui-sref="app.groupPollListing({gid:getGroup.id,cid:getGroup.author.ID})">
                <img ng-src="{{getGroup.img!=null?getGroup.img:'img/user-icon.png'}}">
                <h2 class="group-name"> {{getGroup.title}}</h2>
            </div>
            <div class="tags custom-vln-2  tar row" style="padding: 25px 0;width: 30%">
                <div ng-show="getGroup.author.ID == loginUser" ui-sref="app.create-group({id:getGroup.id})" class="custom-vln tar">
                    <div style="font-size: 30px;"><span class="fz21 groupfz21 ion ion-person-add" ></span></div>
                </div>
                <div ui-sref="app.groupinfo({gid:getGroup.id})" class="custom-vln tar">
                    <div style="font-size: 30px;"><span class="fz21 groupfz21 ion ion-information-circled" ></span></div>
                </div>
                <div ui-sref="app.groupPollListing({gid:getGroup.id,cid:getGroup.author.ID})" class="custom-vln tar">
                    <div style="font-size: 30px;"><span class="no-border icon ion-stats-bars"></span></div>
                </div>
            </div>
        </div>
        <ion-infinite-scroll on-infinite="getPolls('infScr')" ng-if="canLoadMore" immediate-check="false" distance="1%"></ion-infinite-scroll>
        <div ng-show="!moreGroups" class="listing-done"><p>No Groups found!</p></div>


    </ion-content>
    <div class="circlebtn" ng-click="creatGroupPopup()"><i class="ion-plus"></i></div>

    <script id="zoomimg.html" type="text/ng-template">
        <ion-modal-view class="transparentbg">
        <div class="zclose" ng-click="imageViewClose()">X</div>
        <ion-content class="" scroll="false">          
          <ion-scroll zooming="true" overflow-scroll="false" direction="xy" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   
            <img ng-src="{{magnImage}}">
        </ion-scroll>          
        </ion-content>        
        </ion-modal-view>
    </script>
</ion-view>
