<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-energized">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                             <button class="button button-icon button-clear ion-android-person-add" ng-if='isLoggedIn' ui-sref='app.friendrequests' ui-sref-opts="{cache: false}">
                                    <span class="badge badge-assertive" ng-if='user.friend_requests_received.length > 0'>{{ user.friend_requests_received.length >100 ? '99+' : user.friend_requests_received.length }}</span>
                                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <input ion-autocomplete type="text"   class="ion-autocomplete"  items-method-value-key="items" items-method="getTestItems(query)"  autocomplete="off" ng-model="sterm" item-view-value-key="display_name" items-clicked-method="clickedMethod
               (callback)"  manage-externally="true" ng-show="false" max-selected-items="1" required loading-icon="ios-small"/>
        <!-- TABS -->
       
        <ion-tabs class="tabs-stable tabs-icon-top">
            <ion-tab title="Latest Polls" nav-clear menu-close icon="ion-stats-bars" ui-sref-opts="{reload: true, notify: true,cache: false}" ui-sref="app.polls"></ion-tab>

            <ion-tab title="Polls For Me" icon-off="ion-coffee" nav-clear menu-close icon-on="ion-coffee" ui-sref-opts="{reload: true, notify: true,cache: false}" ui-sref="app.forme"></ion-tab>

            <ion-tab title="Create Poll" icon-off="ion-ios-compose" nav-clear menu-close icon-on="ion-ios-compose" ui-sref-opts="{reload: true, notify: true,cache: false}" ui-sref="app.createpoll" ></ion-tab>

            <ion-tab title="My Profile" icon-off="ion-android-person" ng-class="cid == uid ? 'tab-item-active' : ''" ng-if="isLoggedIn" nav-clear menu-close icon-on="ion-android-person" href="#/app/my-profile/{{user.ID}}/1/" ng-disabled="false"></ion-tab>
            <ion-tab title="My Profile" icon-off="ion-android-person" ng-class="cid == uid ? 'tab-item-active' : ''" ng-if="!isLoggedIn" nav-clear menu-close icon-on="ion-android-person" ng-click="loginFromMenu()"></ion-tab>

            <ion-tab title="Groups" icon-off="ion-ios-people" nav-clear menu-close icon-on="ion-ios-people" href="#/app/group/" ng-disabled="false"></ion-tab>
        </ion-tabs>
        <ion-nav-view name="menuContent"></ion-nav-view>

    </ion-side-menu-content>

    <!-- Side Menu (left) -->
    <ion-side-menu side="left">
        <ion-header-bar class="expanded bar bar-header disable-user-behavior side-menu-color bg-css" style="background-image: url('img/bgp.png');"> 
            <div class="avatar-wrapper w100">
                <div class="avatar" ng-if="!isLoggedIn" ng-click="loginFromMenu()" style="background-color:#eee; background-image:url('img/user-icon.png'); background-size:cover"></div>
                <div class="avatar" ng-if="isLoggedIn" ui-sref="app.my-profile({id:user.ID, reveal : 1})" menu-close style="background-color:#eee; background-image:url('{{ user.img}}'); background-size:cover"></div>

            </div>
            <div class="menu-bottom text-center bottom25">
                Hello <span ng-if="isLoggedIn" ui-sref="app.my-profile({id:user.ID, reveal : 1})" menu-close>{{user.first_name| capitalize}}</span> <span ng-if="!isLoggedIn" ng-click="loginFromMenu()">Guest</span> !
            </div>
        </ion-header-bar>
        <ion-content>
            <ion-list class="menu-list">
                <a ui-sref="app.polls"  nav-clear menu-close  class="item menu-item item-icon-left ">
                    <i class="icon ion-chevron-right"></i>

                    Latest Polls
                </a>

                <!--                <a ui-sref="app.user-profile" ng-if="isLoggedIn" nav-clear menu-close class="item menu-item item-icon-left ">
                                    <i class="icon ion-chevron-right"></i>
                
                                    My Profile
                                </a>  -->
                <a ng-click="clickButton()" nav-clear  menu-close class="item menu-item item-icon-left ">
                    <i class="icon ion-chevron-right"></i>
                    Search Users
                </a>
                <a ui-sref="app.about" ng-click="closePopover()" nav-clear menu-close class="item menu-item item-icon-left ">
                    <i class="icon ion-chevron-right"></i>

                    About  ASK AUDIENCE
                </a>
                <a ui-sref="app.terms" nav-clear menu-close class="item menu-item item-icon-left ">
                    <i class="icon ion-chevron-right"></i>

                    Terms and Conditions
                </a>
                <a ui-sref="app.contact" nav-clear menu-close class="item menu-item item-icon-left ">
                    <i class="icon ion-chevron-right"></i>

                    Contact
                </a>
                <!--        <a ui-sref="app.createpoll1" nav-clear menu-close class="item menu-item item-icon-left ">
                           <i class="icon ion-chevron-right"></i>
       
                           Poll Creation new UX
                       </a> -->
                <a role="link" class="item menu-item item-icon-left " nav-clear menu-close ng-click="loginFromMenu()" ng-if="!isLoggedIn">
                    <i class="icon ion-chevron-right"></i>

                    Login
                </a>
                <a role="link" class="item menu-item item-icon-left " nav-clear menu-close ng-click="logout()" ng-if="isLoggedIn">
                    <i class="icon ion-chevron-right"></i>

                    Logout
                </a>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
