<ion-view >
    <ion-nav-title>
        
    </ion-nav-title>
    <ion-content class="has-footer">
        <div class="card card-polls" ng-include src="'templates/card_polldetails_closed.html'"  ng-repeat="poll in polls" on-finish-render="ngRepeatFinished"></div>
    </ion-content>
    <script id="zoomimg.html" type="text/ng-template">
        <ion-modal-view class="transparentbg">
        <div class="zclose" ng-click="imageViewClose()">X</div>
        <ion-content class="" scroll="false">          
          <ion-scroll zooming="true" overflow-scroll="false" direction="xy" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   
            <img ng-src="{{magnImage}}">
        </ion-scroll>          
        </ion-content>        
        </ion-modal-view>
    </script>
</ion-view>
