<ion-view hide-menu-button="true">
    <ion-nav-title>
        Participate
    </ion-nav-title>
    <ion-content class="has-footer">
        <div class="card custom-poll-card">
            <div class="item item-avatar">
                <img ng-src="{{poll.author.img}}" class="poll-img" >
                <h2 class="pull-left">{{ poll.author.display_name}}</h2>
            </div>
            <div class="item item-body p0">

                <div class="poll-img-wrapper" ng-if="poll.img != ''"><img ng-src="{{poll.img}}" class="full-image" alt=""></div>
                <p class="poll-question bold" ng-bind-html="poll.title"></p>

                <h4>Choose Your Option</h4>
                <form class="vote">


                    <ul class="options">
                        <li ng-repeat="opt in poll.options">
                            <label class="checkbox">
                                <ion-item class="item item-avatar">
                                    <img ng-src="{{opt.image.url}}" ng-if="opt.image !== ''" class="thumbnail-image"/>
                                </ion-item>
                                <input type="{{poll.multiple_answers == '0' ? 'radio' : 'checkbox'}}" name="options[]" value="{{ opt.id}}"> 
                            </label>{{ opt.option}}

                        </li>
                    </ul>
                    <input type="hidden" name="pollid" value="{{ poll.id}}" />
                    <button class="button button-balanced" ng-click="vote()">Submit</button>
                </form>

                <pie-chart data="chart" options="options"></pie-chart>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left action-button-wrapper">
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Share
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>