<ion-view hide-menu-button="true">
    <ion-nav-title>
        Latest Polls
    </ion-nav-title>
    <ion-content class="has-footer">

        <div class="card card-polls">
            <div class="item poll-topbar padding10">
                <div class="poll-id pull-left">#125214</div>
                <div class="poll-id pull-right">03:04 left</div>
            </div>
            <div class="item item-text-wrap poll-image padding10 pb0 custom-spacing">
                <img src="img/img.jpg" alt="">
                <div class="item item-avatar cover-overlay-poll">
                    <img src="img/user-icon.png">
                    <h2 class="white">Card Name</h2>
                </div>
            </div>
            <div class="item item-text-wrap padding10 ">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam cumque quibusdam blanditiis numquam ullam, eligendi quaerat,
                obcaecati! Minima ipsa, nisi, soluta pariatur dolorem rem, aliquam in neque nam sapiente eius ratione numquam!
            </div>
            <div class="item item-text-wrap padding10 row poll-action-panel">
                <a class="text-center  stable fz20 col">
                    <i class="icon ion-android-open"></i>

                </a>
                <a class="text-center  stable fz20 col">
                    <i class="icon ion-android-share-alt"></i>

                </a>
                <a class="text-center  stable fz20 col">
                    <i class="icon ion-android-open"></i>

                </a>
                <a class="text-center  stable fz20 col">
                    <i class="icon ion-android-open"></i>

                </a>
            </div>
        </div>

    </ion-content>
</ion-view>