<ion-view  hide-menu-button="true">
    <ion-nav-title>
        Ask Audience
    </ion-nav-title>
    <ion-nav-buttons side="right"> 
        
        <button class="button button-icon button-clear ion-arrow-swap" ng-click="invokeSort()" >
        </button> 
        <button class="button button-icon button-clear ion-funnel" ng-click="openFilters()" >
        </button> 
        <!--     <button class="button button-icon button-clear ion-android-person-add" ng-if='isLoggedIn' ui-sref='app.friendrequests' ui-sref-opts="{cache: false}">
                <span class="badge badge-assertive" ng-if='user.friend_requests_received.length > 0'>{{ user.friend_requests_received.length >100 ? '99+' : user.friend_requests_received.length }}</span>
            </button> -->

    </ion-nav-buttons> 
    <ion-content class="has-footer  listing-content">
        <ion-refresher pulling-text="Pull to get latest polls..." on-refresh="getPolls('pullRef')">
        </ion-refresher> 

        <div class="card card-polls" ng-include src="'templates/card.html'"  ng-repeat="poll in polls" on-finish-render="ngRepeatFinished">
        </div>
        <ion-infinite-scroll on-infinite="getPolls('infScr')" ng-if="canLoadMore" immediate-check="false" distance="1%"></ion-infinite-scroll>
        <div ng-show="!morePolls" class="listing-done"><p>No more polls</p></div>
    </ion-content>

    <script id="zoomimg.html" type="text/ng-template">
        <ion-modal-view class="transparentbg">
        <div class="zclose" ng-click="imageViewClose()">X</div>
        <ion-content class="" scroll="false">          
          <ion-scroll zooming="true" overflow-scroll="false" direction="xy" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   
            <img src="{{magnImage}}">
        </ion-scroll>          
        </ion-content>        
        </ion-modal-view>
    </script>
</ion-view>
