<ion-view>
    <ion-nav-title>

    </ion-nav-title>

    <ion-content >
        <div class="cover-item-wrapper cover-detail-wrapper">
            <div class="cover-item cover-item-detail" style="background-image:url(' img/bgp.png')">
                <div class=" ">
                    <div class="row">
                        <div class="celeb-img-detail profile-img-detail col ">
                            <img ng-src="{{reveal != 1 ? 'img/user-icon.png' : userInfo.img}}">

                            <h2 class="mb0 fs20" style="color:#fff">                            
                                {{ reveal == 1 ? userInfo.display_name : (reveal == 3 ? userInfo.user_nicename : 'Anonymous')}} 
                                <span class="icon ion-edit edit-icon" ng-if="uid == cid"  ng-click="updatePan('profile')"></span>
                            </h2>
                        </div>
                    </div>

                    <div class="wrapp-count row text-center">
                        <a class="col" ng-click="updateCat('polls')">
                            <div class="title">
                                {{ userInfo.polls.length}}
                            </div>
                            <div class="title-cat">
                                Polls
                            </div>
                        </a>
                        <a class="col" ng-click="updatePan('following')" ng-if="uid == cid">
                            <div class="title">
                                {{ userInfo.following.length}}
                            </div>
                            <div class="title-cat">
                                Following
                            </div>
                        </a>
                        <a class="col" ng-if="uid != cid">
                            <div class="title">
                                {{ userInfo.following.length}}
                            </div>
                            <div class="title-cat">
                                Following
                            </div>
                        </a>
                        <a class="col" ng-click="updatePan('followers')" ng-if="uid == cid">
                            <div class="title">
                                {{ userInfo.followers.length}}
                            </div>
                            <div class="title-cat">
                                Followers 
                            </div>
                        </a>
                        <a class="col" ng-if="uid != cid">
                            <div class="title">
                                {{ userInfo.followers.length}}
                            </div>
                            <div class="title-cat">
                                Followers 
                            </div>
                        </a>
                        <a class="col" ng-click="updateCat('friends')" ng-if="uid == cid">
                            <div class="title">
                                {{ userInfo.friends.length}}
                            </div>
                            <div class="title-cat">
                                Friends
                            </div>
                        </a>
                        <a class="col"  ng-if="uid != cid">
                            <div class="title">
                                {{ userInfo.friends.length}}
                            </div>
                            <div class="title-cat">
                                Friends
                            </div>
                        </a>
                    </div>

                    <div class="row connections mt10" ng-if="uid != cid">
                        <div class=" col ">
                            <button ng-if="following == 'No'" class="button button-outline button-small button-balanced pull-right" ng-click="follow()"><i class="ion-arrow-up-c"></i> Follow</button>
                            <button ng-if="following == 'Yes'" class="button button-small button-balanced pull-right" ng-click="unfollow()"><i class="ion-checkmark-round"></i> Following</button>
                        </div>
                        <div class=" col ">
                            <button ng-if="friends == 'No' && friend_requested == 'No'" class="pull-left button button-outline button-small button-balanced " ng-click="freq()"><i class="ion-person-add"></i> Add Friend</button>
                            <button ng-if="friends == 'No' && friend_requested == 'Yes'" class="pull-left button button-small button-energized " ><i class="ion-paper-airplane"></i> Friend Requested</button>
                            <button ng-if="friends == 'Yes'" class="pull-left button button-outline button-small button-assertive " ng-click="unfriend()"><i class="ion-close"></i> Unfriend</button>
                        </div>
                    </div>

                </div>
            </div>

        </div> 
        <div ng-if="activePanCat == 'polls'" >
            <ion-scroll direction="x" class="item ion-sc" ng-if="uid == cid">
                <span ng-class="activePan == 'openPolls' ? 'active-item' : 'sub-menu-item'"  ng-click="updatePan('openPolls')">All Open</span>
                <span ng-class="activePan == 'closedPolls' ? 'active-item' : 'sub-menu-item'"   ng-click="updatePan('closedPolls')">Closed Polls</span>
                <span ng-class="activePan == 'privatePolls' ? 'active-item' : 'sub-menu-item'"    ng-click="updatePan('privatePolls')">Private Polls</span>
                <span ng-class="activePan == 'Anonymous' ? 'active-item' : 'sub-menu-item'"   ng-click="updatePan('Anonymous')">Anonymous</span>
                <span ng-class="activePan == 'nameRevealed' ? 'active-item' : 'sub-menu-item'"   ng-click="updatePan('nameRevealed')">Name Revealed</span>

                <span ng-class="activePan == 'pinRevealed' ? 'active-item' : 'sub-menu-item'"   ng-click="updatePan('pinRevealed')">Pin Revealed</span>



            </ion-scroll>
        </div>
        <div ng-if="activePanCat == 'friends'" >
            <ion-scroll direction="x" class="item ion-sc" ng-if="uid == cid">

                <span ng-class="activePan == 'allfrnd' ? 'active-item' : 'sub-menu-item'"   ng-click="updatePan('allfrnd')">Friends</span>

                <span ng-class="activePan == 'PendingRequest' ? 'active-item' : 'sub-menu-item'"   ng-click="updatePan('PendingRequest')">Pending Request</span>

                <span ng-class="activePan == 'rejected' ? 'active-item' : 'sub-menu-item'"   ng-click="updatePan('rejected')">Rejected</span>

                <span ng-class="activePan == 'myRequest' ? 'active-item' : 'sub-menu-item'"   ng-click="updatePan('myRequest')">My Requests</span>


            </ion-scroll>
        </div>
        <div ng-if="activePan == 'openPolls'">

            <div class="list card custom-poll-card" ng-include src="'templates/card.html'" ng-repeat="poll in userInfo.polls" ng-if="poll.posted_as == reveal && cid != uid" >

            </div>

            <div class="list" ng-if="uid == cid">

                <a class="item item-thumbnail-left poll-listing-img" ui-sref="app.polls">
                    <img src="http://ask-audience.cruxservers.in/wp-content/uploads/2016/07/donald-trump-vs-hillary-clinton-rivalry.jpg">
                    <h2 class="no-one-line">Who’ll win the next U.S Elections?</h2>
                    <p>Started at: 12 Aug 2016</p>
                </a> 
                <a class="item item-thumbnail-left poll-listing-img" ui-sref="app.polls">
                    <img src="http://ask-audience.cruxservers.in/wp-content/uploads/2016/07/of-muse-bite-sized-travel-inspiration-travel-love-august-22nd-2013-gqGfZq-quote.jpeg">
                    <h2 class="no-one-line">Which is a better travel destination? Europe or USA?</h2>
                    <p>Started at: 14 Aug 2016</p>

                </a> 
            </div>
        </div>
        <div ng-if="activePan == 'privatePolls'">
            <div class="list">

                <a class="item item-thumbnail-left poll-listing-img" ui-sref="app.polls">
                    <img src="http://ask-audience.cruxservers.in/wp-content/uploads/2016/07/donald-trump-vs-hillary-clinton-rivalry.jpg">
                    <h2 class="no-one-line">Who’ll win the next U.S Elections?</h2>
                    <p>Started at: 12 Aug 2016</p>
                </a> 
                <a class="item item-thumbnail-left poll-listing-img" ui-sref="app.polls">
                    <img src="http://ask-audience.cruxservers.in/wp-content/uploads/2016/07/of-muse-bite-sized-travel-inspiration-travel-love-august-22nd-2013-gqGfZq-quote.jpeg">
                    <h2 class="no-one-line">Which is a better travel destination? Europe or USA?</h2>
                    <p>Started at: 14 Aug 2016</p>

                </a> 
            </div>
        </div>
        <div ng-if="activePan == 'Anonymous'">
            <div class="list">

                <a class="item item-thumbnail-left poll-listing-img" ui-sref="app.polls">
                    <img src="http://ask-audience.cruxservers.in/wp-content/uploads/2016/07/donald-trump-vs-hillary-clinton-rivalry.jpg">
                    <h2 class="no-one-line">Who’ll win the next U.S Elections?</h2>
                    <p>Started at: 12 Aug 2016</p>
                </a> 
                <a class="item item-thumbnail-left poll-listing-img" ui-sref="app.polls">
                    <img src="http://ask-audience.cruxservers.in/wp-content/uploads/2016/07/of-muse-bite-sized-travel-inspiration-travel-love-august-22nd-2013-gqGfZq-quote.jpeg">
                    <h2 class="no-one-line">Which is a better travel destination? Europe or USA?</h2>
                    <p>Started at: 14 Aug 2016</p>

                </a> 
            </div>
        </div>
        <div ng-if="activePan == 'nameRevealed'">
            <div class="list">

                <a class="item item-thumbnail-left poll-listing-img" ui-sref="app.polls">
                    <img src="http://ask-audience.cruxservers.in/wp-content/uploads/2016/07/donald-trump-vs-hillary-clinton-rivalry.jpg">
                    <h2 class="no-one-line">Who’ll win the next U.S Elections?</h2>
                    <p>Started at: 12 Aug 2016</p>
                </a> 
                <a class="item item-thumbnail-left poll-listing-img" ui-sref="app.polls">
                    <img src="http://ask-audience.cruxservers.in/wp-content/uploads/2016/07/of-muse-bite-sized-travel-inspiration-travel-love-august-22nd-2013-gqGfZq-quote.jpeg">
                    <h2 class="no-one-line">Which is a better travel destination? Europe or USA?</h2>
                    <p>Started at: 14 Aug 2016</p>

                </a> 
            </div>
        </div>
        <div ng-if="activePan == 'pinRevealed'">
            <div class="list">

                <a class="item item-thumbnail-left poll-listing-img" ui-sref="app.polls">
                    <img src="http://ask-audience.cruxservers.in/wp-content/uploads/2016/07/donald-trump-vs-hillary-clinton-rivalry.jpg">
                    <h2 class="no-one-line">Who’ll win the next U.S Elections?</h2>
                    <p>Started at: 12 Aug 2016</p>
                </a> 
                <a class="item item-thumbnail-left poll-listing-img" ui-sref="app.polls">
                    <img src="http://ask-audience.cruxservers.in/wp-content/uploads/2016/07/of-muse-bite-sized-travel-inspiration-travel-love-august-22nd-2013-gqGfZq-quote.jpeg">
                    <h2 class="no-one-line">Which is a better travel destination? Europe or USA?</h2>
                    <p>Started at: 14 Aug 2016</p>

                </a> 
            </div>
        </div>
        <div ng-if="activePan == 'closedPolls'">
            <div class="list">

                <div class="list card custom-poll-card" ng-include src="'templates/card.html'" ng-repeat="poll in userInfo.polls" ng-if="poll.posted_as == reveal">

                </div>

            </div>
        </div>
        <div ng-if="activePan == 'following'">


            <div class="list">

                <a class="item item-avatar">
                    <img src="img/user-icon.png">
                    <h2>Swapnil Patwa</h2>
                    <p class="mt10"> <input type="button" value="Unfollow" class=" button action-button button-positive"><input type="button" value="View Poll" class=" button action-button button-positive ml5"></p>


                </a>

                <a class="item item-avatar">
                    <img src="img/user-icon.png">
                    <h2>Chintan Lad</h2>
                    <p class="mt10"> <input type="button" value="Unfollow" class=" button action-button button-positive"><input type="button" value="View Poll" class=" button action-button button-positive ml5"></p>


                </a>


            </div>         
        </div>
        <div ng-if="activePan == 'followers'">
            <div class="list">

                <a class="item item-avatar">
                    <img src="img/user-icon.png">
                    <h2>Venkman</h2>
                    <p class="mt10"> <input type="button" value="View Poll" class=" button action-button button-positive"></p>

                </a>

                <a class="item item-avatar">
                    <img src="img/user-icon.png">
                    <h2>Sushil Sudhakaran</h2>
                    <p class="mt10"> <input type="button" value="View Poll" class=" button action-button button-positive"></p>

                </a>
            </div>        
        </div>
        <div ng-if="activePan == 'allfrnd'">
            <div class="list">

                <a class="item item-avatar">
                    <img src="img/user-icon.png">
                    <h2>Venkman</h2>
                    <p class="mt10"> <input type="button" value="Unfriend" class=" button action-button button-positive"><input type="button" value="View Poll" class=" button action-button button-positive ml5"></p>

                </a>


            </div>       
        </div>
        <div ng-if="activePan == 'PendingRequest'">
            <div class="list">

                <a class="item item-avatar">
                    <img src="img/user-icon.png">
                    <h2>Venkman</h2>
                    <p class="mt10"> <input type="button" value="Confirm Friend" class=" button action-button button-positive"> <input type="button" value="Reject" class=" button action-button button-stable">
                        <input type="button" value="View Poll" class=" button action-button button-positive ml5"></p>

                </a>


            </div>       
        </div>
        <div ng-if="activePan == 'myRequest'">
            <div class="list">

                <a class="item item-avatar">
                    <img src="img/user-icon.png">
                    <h2>Swapnil Patwa</h2>
                    <p class="mt10"> <input type="button" value="Cancel Request" class=" button action-button button-stable">
                        <input type="button" value="View Poll" class=" button action-button button-positive ml5"></p>

                </a>


            </div>       
        </div>
        <div ng-if="activePan == 'rejected'">
            <div class="list">

                <a class="item item-avatar">
                    <img src="img/user-icon.png">
                    <h2>Venkman</h2>
                    <p class="mt10"><input type="button" value="View Poll" class=" button action-button button-positive  "></p>
                </a>


            </div>       
        </div>
        <div ng-if="activePan == 'profile'">
            <h4 class="content  profile-head double-padding-x">My Profile</h4>
            <form name="userProfile" id="updateUserForm" ng-submit="updateUser(userInfo)">
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label fz14">First Name*</span>
                        <input type="text" ng-model="userInfo.user_meta.first_name[0]" required name="first_name" ng-class="userProfile.first_name.$touched && userProfile.first_name.$invalid ? 'error-border' : ''" placeholder="Enter First Name">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label fz14">Last Name*</span>
                        <input type="text" ng-model="userInfo.user_meta.last_name[0]" required name="last_name" ng-class="userProfile.last_name.$touched && userProfile.last_name.$invalid ? 'error-border' : ''" placeholder="Enter Last Name">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label fz14">Email*</span>
                        <input type="email" ng-model="userInfo.user_email" readonly="true" required name="user_email" ng-class="userProfile.user_email.$touched && userProfile.user_email.$invalid ? 'error-border' : ''"  placeholder="Enter valid Email">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label fz14">Mobile*</span>
                        <input type="text"  ng-model="userInfo.user_meta.phone[0]" required name="phone" ng-class="userProfile.phone.$touched && userProfile.phone.$invalid ? 'error-border' : ''"  placeholder="Enter valid -">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label fz14">Address*</span>
                        <input type="text" ng-model="userInfo.user_meta.address[0]" required name="address" ng-class="userProfile.address.$touched && userProfile.address.$invalid ? 'error-border' : ''" placeholder="Enter Address">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label fz14">City*</span>
                        <input type="text" ng-model="userInfo.user_meta.city[0]" required name="city" ng-class="userProfile.city.$touched && userProfile.city.$invalid ? 'error-border' : ''" placeholder="Enter City">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label fz14">State*</span>
                        <input type="text" ng-model="userInfo.user_meta.state[0]" required name="state" ng-class="userProfile.state.$touched && userProfile.state.$invalid ? 'error-border' : ''" placeholder="Enter State">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label fz14">Postal Code*</span>
                        <input type="text" ng-model="userInfo.user_meta.postal_code[0]" name="postalcode" required ng-class="userProfile.postal_code.$touched && userProfile.postal_code.$invalid ? 'error-border' : ''" placeholder="Enter Postal Code">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label fz14">Country*</span>
                        <input type="text" ng-model="userInfo.user_meta.country[0]" name="country" required ng-class="userProfile.country.$touched && userProfile.country.$invalid ? 'error-border' : ''" placeholder="Enter Country">
                    </label> 
                </div>

                <div class="row">
                    <button class="button  w100 radiuz-primary line-h50" ng-disabled="userProfile.$invalid" type="submit" >Update Profile</button>
                </div> 

            </form>
            <h4 class="content  profile-head double-padding-x">Change Password</h4>
            <form name="changePwdForm" ng-submit="changePassword(userInfo, password)">
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label fz14"> Password*</span>
                        <input type="password" ng-model="password.pass" name="password" required ng-class="changePwdForm.password.$touched && changePwdForm.password.$invalid ? 'error-border' : ''" placeholder="Enter New Password">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label fz14">Confirm Password*</span>
                        <input type="password" ng-model="password.repass"   name="cpassword" required ng-class="changePwdForm.cpassword.$touched && changePwdForm.cpassword.$invalid ? 'error-border' : ''" placeholder="Confirm New Password">
                    </label>
                </div>
                <span ng-show="password.repass != password.pass" class="validation-error">Passwords do not match.</span> 
                <div class="row">
                    <button class="button  w100 radiuz-primary line-h50" ng-disabled="changePwdForm.$invalid" >Change Password</button>
                </div> 
            </form>
        </div>

    </ion-content>
</ion-view>