 
.white {
    color: #fff !important
}

.w100 {
    width: 100% !important
}

.pt12 {
    padding-top: 12px !important
}

.mt2 {
    margin-top: 2px;
    margin-bottom: 0px !important
}

.mt10 {
    margin-top: 10px !important
}

.mt0 {
    margin-top: 0px !important
}

.pb0 {
    padding-bottom: 0px !important;
}

a.menu-item {
    color: #424242;
    text-transform: UPPERCASE;
    font-weight: bold
}

a.menu-item i {
    font-size: 18px !important
}

.header-logo {
    height: 20px;
    margin-top: 12px
}

.menu-bottom {
    bottom: 30px !important
}

.menu-option-bottom a {
    color: #ddd;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 10px 10px 0px
}

.menu-option-bottom i {
    margin-right: 4px !important
}

.menu-option-bottom {
    bottom: 16px;
    left: 18px;
    right: 16px;
    position: absolute
}

span.badge.custom-badge {
    position: absolute;
    top: 5px;
    left: 15px;
    background: #EC1D23;
    padding: 0px 2px;
    color: #fff;
    border: none
}

.radiuz-primary,
.radiuz-primary:hover {
    background-color: #EC1D23;
    color: #fff
}

.radiuz-btn,
.radiuz-btn:hover {
    background-color: #EC1D23 !important;
    color: #fff !important
}

.tab-radius {
    background-color: #EC1D23 !important
}

.tab-radius a {
    opacity: 1 !important
}

.txt-center {
    text-align: center !important
}

.anchor-type-btn {
    background: white;
    color: #EC1D23 !important
}

.anchor-type-btn:hover {
    background: white;
    color: #EC1D23 !important
}

.cover-item-wrapper {
    width: 100%;
    overflow: hidden !important
}

.home-cover {
    width: 101% !important;
    margin-left: -1px !important
}

.cover-item {
    background-image: url('../img/home-bg.jpg');
    width: 100%;
    background-size: cover
}

.cover-input-wrapper {
    text-align: center !important;
    clear: both;
    width: 100%
}

.cover-overlay {
    background: linear-gradient(transparent, black);
    height: 100%
}

input.cover-search-input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    opacity: 0.9;
    position: relative;
    top: 77px;
    border-radius: 2px;
    clear: both !important;
    display: inline !important
}

.cover-input-wrapper {
    padding: 10px
}

.cover-input-text {
    position: relative;
    color: #fff;
    margin-top: 110px;
    left: 15px !important
}

.cover-heading-text {
    font-size: 12px;
}

a.cover-feed-text {
    font-size: 12px;
    color: #A9A5A5;
    font-weight: bold;
    padding: 10px 21px 11px 0px;
    line-height: 20px;
    text-decoration: none !important
}

.custom-cat-border {
    border-radius: 0px !important
}

.border-right {
    border-right: 1px solid #B3B3B3 !important
}

.listing-img {
    border-radius: 0px !important;
    width: 90px !important;
    height: 90px !important
}

button.radiuz-button {
    border: none;
    padding: 3px 15px;
    border-radius: 3px;
    margin-top: 2px
}

.list-listing {
    margin-bottom: 0px !important
}

.list-listing .item {
    border-top: 0px !important;
    padding-bottom: 8px !important
}

.mb0 {
    margin-bottom: 0 !important
}

.no-more-celeb {
    padding: 6px 0px 6px 0px;
    margin: 0px !important;
    background-color: #000000;
    color: white
}

.wide-item {
    width: 1000px
}

.list-awards li {
    line-height: 26px;
    margin-left: 10px;
    list-style: initial
}

span.sub-menu-item {
    padding: 14px 15px;
    background-color: #0c0c0c;
    color: white;
    font-weight: normal
}

span.active-item {
    padding: 14px 15px;
    background-color: #151515;
    color: white;
    border-bottom: 2px solid #fff;
    font-weight: bold
}

.ion-sc::-webkit-scrollbar {
    display: none
}

.ion-sc {
    width: 101%;
    height: 53px;
    background-color: #000000 !important
}

h3.listing-title {
    font-size: 20px;
    margin-top: 4px
}

div.filter-btn-wrap {
    text-align: right;
    margin-top: -4px !important
}

div.filter-btn-wrap button {
    color: #000000 !important
}

a.celeb-name h2 {
    font-size: 18px
}

a.celeb-name {
    text-decoration: none
}

.celeb-img-a {
    position: absolute !important;
    top: 10px !important;
    left: 10px !important
}

.cover-item-detail {
    max-height: 205px;
    width: 100%;
    background-size: cover;
    padding-bottom: 10px;
}

.celeb-img-detail img {
    height: 80px;
    width: 80px;
    border: 3px solid #DCDCDC;
    border-radius: 50%
}

.celeb-img-detail {
    text-align: center;
    padding-top: 5px
}

.celeb-info-detail {
    text-align: center;
    padding-top: 5px
}

.celeb-info-detail h2,
.celeb-info-detail p,
.celeb-info-detail a {
    color: #fff
}

.txt-right {
    text-align: right
}

.bar-footer {
    overflow: visible !important
}

.bar-footer textarea {
    resize: none;
    height: 25px
}

button.ion-android-send {
    padding-top: 2px
}

.footer-btn-wrap {
    position: relative;
    height: 100%;
    width: 50px;
    top: 7px
}

.footer-btn {
    position: absolute !important;
    bottom: 0
}

img.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px
}

img.profile-pic.left {
    left: 10px
}

img.profile-pic.right {
    right: 10px
}

.ion-email {
    float: right;
    font-size: 32px;
    vertical-align: middle
}

.message {
    font-size: 14px
}

.message-detail {
    white-space: nowrap;
    font-size: 14px
}

.bar.item-input-inset .item-input-wrapper input {
    width: 100% !important
}

.message-wrapper {
    position: relative
}

.message-wrapper:last-child {
    margin-bottom: 10px
}

.chat-bubble {
    border-radius: 5px;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    margin: 10px;
    max-width: 80%
}

.chat-bubble:before {
    content: "\00a0";
    display: block;
    height: 16px;
    width: 9px;
    position: absolute;
    bottom: -7.5px
}

.chat-bubble.left {
    background-color: #e6e5eb;
    float: left;
    margin-left: 55px
}

.chat-bubble.left:before {
    background-color: #e6e5eb;
    left: 10px;
    -webkit-transform: rotate(70deg) skew(5deg)
}

.chat-bubble.right {
    background-color: #158ffe;
    color: #fff;
    float: right;
    margin-right: 55px
}

.chat-bubble.right:before {
    background-color: #158ffe;
    right: 10px;
    -webkit-transform: rotate(118deg) skew(-5deg)
}

.chat-bubble.right a.autolinker {
    color: #fff;
    font-weight: bold
}

.user-messages-top-icon {
    font-size: 28px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
    right: 5px
}

.msg-header-username {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px
}

input,
textarea,
.item-input,
.item-input-wrapper {
    background-color: #f4f4f4
}

.bold {
    font-weight: bold
}

.cf {
    clear: both !important
}

a.autolinker {
    color: #3b88c3;
    text-decoration: none
}

.loader-center {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.loader .ion-loading-c {
    font-size: 64px
}

.chat-bg {
    background-image: url('../img/chat-bg.jpg');
    -webkit-background-size: 120% auto
}

.header-popover {
    left: auto !important
}

.pm0 {
    padding: 0px;
    margin: 0px
}

.full-height {
    height: 100vh !important;
    background: #444;
    color: #fff
}

.noborder {
    border: 0px !important
}

.white {
    color: #fff !important
}

.w100 {
    width: 100% !important
}

.pt12 {
    padding-top: 12 px !important
}

.mt2 {
    margin-top: 2px;
    margin-bottom: 0px !important
}

.mt10 {
    margin-top: 10px !important
}

a.menu-item {
    color: #424242;
    text-transform: UPPERCASE;
    font-weight: bold
}

a.menu-item i {
    font-size: 18px !important
}

.header-logo {
    height: 20px;
    margin-top: 12px
}

.menu-bottom {
    bottom: 45px !important
}

.menu-option-bottom a {
    color: # ddd;
    font - size: 12 px;
    text - decoration: none;
    font - weight: bold;
    padding: 10 px 10 px 10 px 0 px
}

.menu - option - bottom i {
    margin - right: 4 px !important
}

.menu - option - bottom {
    bottom: 16 px;
    left: 18 px;
    right: 16 px;
    position: absolute
}

span.badge.custom - badge {
    position: absolute;
    top: 5 px;
    left: 15 px;
    background: #EC1D23;
    padding: 0 px 2 px;
    color: #fff;
    border: none
}

.radiuz - primary,
.radiuz - primary: hover {
    background - color: #EC1D23;
    color: #fff
}

.radiuz - btn,
.radiuz - btn: hover {
    background - color: #EC1D23 !important;
    color: #fff !important
}

.tab - radius {
    background - color: #EC1D23 !important
}

.tab - radius a {
    opacity: 1 !important
}

.txt - center {
    text - align: center !important
}

.anchor - type - btn {
    background: white;
    color: #EC1D23 !important
}

.anchor - type - btn: hover {
    background: white;
    color: #EC1D23 !important
}

.cover - item - wrapper {
    max - height: 250 px;
    width: 100 %;
    overflow: hidden !important
}

.home - cover {
    width: 101 % !important;
    margin - left: -1 px !important
}

.cover - item {
    background - image: url('../img/home-bg.jpg');
    height: 250 px;
    width: 100 %;
    background - size: cover
}

.cover - input - wrapper {
    text - align: center !important;
    clear: both;
    width: 100 %
}

.cover - overlay {
    background: linear-gradient(transparent, black);
    height: 100 %
}

input.cover - search - input {
    width: 90 %;
    padding: 10 px;
    font - size: 16 px;
    opacity: 0.9;
    position: relative;
    top: 77 px;
    border - radius: 2 px;
    clear: both !important;
    display: inline !important
}

.cover - input - wrapper {
    padding: 10 px
}

.cover - input - text {
    position: relative;
    color: #fff;
    margin - top: 110 px;
    left: 15 px !important
}

.cover - heading - text {
    font - size: 20 px;
    margin - bottom: 8 px
}

a.cover - feed - text {
    font - size: 12 px;
    color: #A9A5A5;
    font - weight: bold;
    padding: 10 px 21 px 11 px 0 px;
    line - height: 20 px;
    text - decoration: none !important
}

.custom - cat - border {
    border - radius: 0 px !important
}

.border - right {
    border - right: 1 px solid# B3B3B3 !important
}

.listing - img {
    border - radius: 0 px !important;
    width: 90 px !important;
    height: 90 px !important
}

button.radiuz - button {
    border: none;
    padding: 3 px 15 px;
    border - radius: 3 px;
    margin - top: 2 px
}

.list - listing {
    margin - bottom: 0 px !important
}

.list - listing.item {
    border - top: 0 px !important;
    padding - bottom: 8 px !important
}

.mb0 {
    margin - bottom: 0 !important
}

.no - more - celeb {
    padding: 6 px 0 px 6 px 0 px;
    margin: 0 px !important;
    background - color: #000000;
    color: white
}

.wide-item {
    width: 1000px
}

.list-awards li {
    line-height: 26px;
    margin-left: 10px;
    list-style: initial
}

span.sub-menu-item {
    padding: 14px 15px;
    background-color: # 000000;
    color: white;
    font - weight: normal
}

span.active - item {
    padding: 14 px 15 px;
    background - color: #000000;
    color: white;
    border-bottom: 2px solid # fff;
    font - weight: bold
}

.ion - sc::-webkit - scrollbar {
    display: none
}

.ion - sc {
    width: 101 %;
    height: 53 px;
    background - color: #000000
}

h3.listing-title {
    font-size: 20px;
    margin-top: 4px
}

div.filter-btn-wrap {
    text-align: right;
    margin-top: -4px !important
}

div.filter-btn-wrap button {
    color: # 000000 !important
}

a.celeb - name h2 {
    font - size: 18 px
}

a.celeb - name {
    text - decoration: none
}

.celeb - img - a {
    position: absolute !important;
    top: 10 px !important;
    left: 10 px !important
}

.cover - item - detail {
    height: 280 px;
    width: 100 %;
    background - size: cover
}

.cover - detail - wrapper.cover - item - wrapper {
    max - height: 330 px
}

.celeb - img - detail img {
    height: 130 px;
    width: 130 px;
    border: 3 px solid# DCDCDC;
    border - radius: 2 px
}

.celeb - img - detail {
    text - align: center;
    padding - top: 20 px
}

.celeb - info - detail {
    text - align: center;
    padding - top: 5 px
}

.celeb - info - detail h2,
.celeb - info - detail p,
.celeb - info - detail a {
    color: #fff
}

.txt - right {
    text - align: right
}

.bar - footer {
    overflow: visible !important
}

.bar - footer textarea {
    resize: none;
    height: 25 px
}

button.ion - android - send {
    padding - top: 2 px
}

.footer - btn - wrap {
    position: relative;
    height: 100 %;
    width: 50 px;
    top: 7 px
}

.footer - btn {
    position: absolute !important;
    bottom: 0
}

img.profile - pic {
    width: 40 px;
    height: 40 px;
    border - radius: 50 %;
    position: absolute;
    bottom: 10 px
}

img.profile - pic.left {
    left: 10 px
}

img.profile - pic.right {
    right: 10 px
}

.ion - email {
    float: right;
    font - size: 32 px;
    vertical - align: middle
}

.message {
    font - size: 14 px
}

.message - detail {
    white - space: nowrap;
    font - size: 14 px
}

.bar.item - input - inset.item - input - wrapper input {
    width: 100 % !important
}

.message - wrapper {
    position: relative
}

.message - wrapper: last - child {
    margin - bottom: 10 px
}

.chat - bubble {
    border - radius: 5 px;
    display: inline - block;
    padding: 10 px 18 px;
    position: relative;
    margin: 10 px;
    max - width: 80 %
}

.chat - bubble: before {
    content: "\00a0";
    display: block;
    height: 16 px;
    width: 9 px;
    position: absolute;
    bottom: -7.5 px
}

.chat - bubble.left {
    background - color: #e6e5eb;
    float: left;
    margin - left: 55 px
}

.chat - bubble.left: before {
    background - color: #e6e5eb;
    left: 10 px;
    - webkit - transform: rotate(70 deg) skew(5 deg)
}

.chat - bubble.right {
    background - color: #158ffe;
    color: # fff;
    float: right;
    margin - right: 55 px
}

.chat - bubble.right: before {
    background - color: #158ffe;
    right: 10px;
    -webkit-transform: rotate(118deg) skew(-5deg)
}

.chat-bubble.right a.autolinker {
    color: # fff;
    font - weight: bold
}

.user - messages - top - icon {
    font - size: 28 px;
    display: inline - block;
    vertical - align: middle;
    position: relative;
    top: -3 px;
    right: 5 px
}

.msg - header - username {
    display: inline - block;
    vertical - align: middle;
    position: relative;
    top: -3 px
}

input,
textarea,
.item - input,
.item - input - wrapper {
    background - color: #f4f4f4 !important
}

.bold {
    font - weight: bold
}

.cf {
    clear: both !important
}

a.autolinker {
    color: #3b88c3;
    text-decoration: none
}

.loader-center {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.loader .ion-loading-c {
    font-size: 64px
}

.chat-bg {
    background-image: url('../img/chat-bg.jpg');
    -webkit-background-size: 120% auto
}

.header-popover {
    left: auto !important
}

.pm0 {
    padding: 0px;
    margin: 0px
}

.full-height {
    height: 100vh !important;
    background: # 444;
    color: #fff
}

.noborder {
    border: 0 px !important
}

.reset - btn {
    padding: 0 px 20 px !important
}

.linkedin - bgc,
.linkedin - bgc: hover {
    background - color: #007AB6 !important
}

.facebook-background,
.facebook-background:hover {
    background-color: # 3 F5C9A !important
}

.login - bg {
    background: url('../img/login-bg.jpg') no - repeat;
    - webkit - background - size: 120 % auto
}

.mb10 {
    margin - bottom: 10 px !important
}

.mb2 {
    margin - bottom: 2 px !important
}

.text - login {
    width: 93 %;
    font - size: 16 px !important;
    opacity: 0.9;
    border - radius: 2 px;
    display: inline !important;
    margin - top: 15 px;
    height: 45 px !important;
    padding - left: 15 px !important
}

.text - login: focus {
    opacity: 1
}

.btn - login {
    width: 93 % !important;
    height: 45 px;
    margin - top: 15 px !important
}

.facebook - sign - in,
.facebook - sign - in: hover {
    background - color: #3F5C9A;
    height: 45px;
    width: 93%
}

.login-pad {
    padding: 0px 15px !important
}

.radiuz-color {
    color: # EC1D23 !important
}

.wrapper - logo {
    margin - top: 5 vh;
    margin - bottom: 3 vh
}

.logo - login {
    width: 140 px
}

.or - text {
    padding: 25 px 0 px
}

.register - fb {
    margin - top: 15 px;
    margin - bottom: 0 px
}

.item - register,
.transparent - label {
    background: transparent !important
}

.border - tn {
    border - top: none !important
}

.border - bn {
    border - bottom: none !important
}

.pb0 {
    padding - bottom: 0 !important
}

.mt25 {
    margin - top: 25 px !important
}

.cover - input - about {
    position: relative;
    color: #fff;
    left: 15 px !important
}

.about - cover - text {
    padding - top: 200 px
}

.about - radius8 p {
    text - align: justify
}

.bold {
    font - weight: bold
}

.list.item.item - accordion {
    line - height: 38 px;
    padding - top: 0;
    padding - bottom: 0;
    transition: 0.09 s all linear
}

.list.item.item - accordion.ng - hide {
    line - height: 0 px
}

.list.item.item - accordion.ng - hide - add,
.list.item.item - accordion.ng - hide - remove {
    display: block !important
}

.terms - radius8 p {
    text - align: justify;
    line - height: 24 px
}

.terms - radius8.item p {
    overflow: visible !important;
    text - overflow: inherit !important;
    white - space: normal !important
}

.terms - radius8 li {
    list - style: initial;
    margin - left: 5 px;
    line - height: 20 px;
    margin - top: 10 px;
    white - space: normal
}

.line - h50 {
    line - height: 50 px !important
}

.profile - head {
    padding - left: 15 px;
    padding - top: 0 px;
    padding - bottom: 0 px
}

.fz14 {
    font - size: 14 px
}

.fz20 {
    font-size: 20 px
}

.bg - f4 {
    background - color: #f4f4f4 !important
}

.linkedin - sign - in {
    background - color: #007AB6 !important
}

.textarea-height {
    min-height: 80px
}

.fz12 {
    font-size: 12px !important
}

.mt50 {
    margin-top: 50px
}

.news li.item {
    white-space: normal
}

.stars {
    width: 70px !important;
    height: 14px !important;
    background-image: url('../img/stars.png');
    background-position: 0 -1133px;
    position: relative
}

.rating {
    padding: 2px 0px 10px 0px
}

.rating .stars i {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../img/stars.png');
    background-position: 0 -685px;
    width: 70px;
    height: 14px
}

.rating-count {
    margin: -3px 0px 3px 7px;
    vertical-align: baseline !important;
    color: # DEDEDE
}

.reviews.card {
    background - color: #F3F3F3 !important
}

.icon - fb {
    color: #3A5795
}

.icon-gp {
    color: # d73d32 !important
}

.icon - twitter {
    color: #1DA1F2
}

.reach .item-note {
    float: right;
    color: # 000;
    font - size: 14 px;
    font - weight: bold
}

.justify {
    text - align: justify
}

.read - more - btn {
    background - color: red;
    color: #fff;
    margin - top: 8 px;
    float: right
}

.filter - input {
    width: 100 %;
    padding: 0 px 0 px 0 px 10 px !important
}

.heading - sub {
    padding - left: 6 px
}

.sub - cat - title {
    padding: 10 px;
    font - size: 19 px;
    background: gray;
    border: 0 px;
    color: #fff
}

.filter - modal.scroll {
    background - color: #444444
}

.white-bg {
    background-color: # fff
}

.mt15 {
    margin - top: 15 px !important
}

.footer - btn - wrap {
    position: relative !important;
    height: 100 % !important;
    width: 50 px !important;
    top: 0 px !important
}

.footer - btn - wrap button {
    padding - left: 17 px !important
}

.chat - input {
    height: 36 px;
    width: 100 %
}

.btn - send {
    background - color: black !important;
    color: #fff !important
}

.linkedin-bgc,
.linkedin-bgc:hover {
    background-color: #007AB6 !important
}

.facebook-background,
.facebook-background:hover {
    background-color: #3F5C9A !important
}

.login-bg {
    background: url(../img/login-bg.png);
    -webkit-background-size: 120% auto
}

.mb10 {
    margin-bottom: 10px !important
}

.mb2 {
    margin-bottom: 2px !important
}

.text-login {
    width: 93%;
    font-size: 16px !important;
    opacity: 0.9;
    border-radius: 2px;
    display: inline !important;
    margin-top: 15px;
    height: 45px !important;
    padding-left: 15px !important
}

.text-login:focus {
    opacity: 1
}

.btn-login {
    width: 93% !important;
    height: 45px;
    margin-top: 15px !important
}

.facebook-sign-in,
.facebook-sign-in:hover {
    background-color: #3F5C9A;
    height: 45px;
    width: 93%
}

.login-pad {
    padding: 0px 15px !important
}

.radiuz-color {
    color: #EC1D23 !important
}

.wrapper-logo {
    margin-top: 5vh;
    margin-bottom: 3vh
}

.logo-login {
    width: 140px
}

.or-text {
    padding: 25px 0px
}

.register-fb {
    margin-top: 15px;
    margin-bottom: 0px
}

.item-register,
.transparent-label {
    background: transparent !important
}

.border-tn {
    border-top: none !important
}

.border-bn {
    border-bottom: none !important
}

.pb0 {
    padding-bottom: 0 !important
}

.mt25 {
    margin-top: 25px !important
}

.cover-input-about {
    position: relative;
    color: #fff;
}

.about-cover-text {
    padding-top: 80px;
    padding-bottom: 5px;
}

.about-radius8 p {
    text-align: justify
}

.bold {
    font-weight: bold
}

.list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear
}

.list .item.item-accordion.ng-hide {
    line-height: 0px
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important
}

.terms-radius8 p {
    text-align: justify;
    line-height: 24px
}

.terms-radius8 .item p {
    overflow: visible !important;
    text-overflow: inherit !important;
    white-space: normal !important
}

.terms-radius8 li {
    list-style: initial;
    margin-left: 5px;
    line-height: 20px;
    margin-top: 10px;
    white-space: normal
}

.line-h50 {
    line-height: 50px !important
}

.profile-head {
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 0px
}

.fz14 {
    font-size: 14px
}

.bg-f4 {
    background-color: #f4f4f4 !important
}

.linkedin-sign-in {
    background-color: #007AB6 !important
}

.textarea-height {
    min-height: 80px
}

.fz12 {
    font-size: 12px !important
}

.mt50 {
    margin-top: 50px
}

.news li.item {
    white-space: normal
}

.stars {
    width: 70px !important;
    height: 14px !important;
    background-image: url('../img/stars.png');
    background-position: 0 -1133px;
    position: relative
}

.rating {
    padding: 2px 0px 10px 0px
}

.rating .stars i {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../img/stars.png');
    background-position: 0 -685px;
    width: 70px;
    height: 14px
}

.rating-count {
    margin: -3px 0px 3px 7px;
    vertical-align: baseline !important;
    color: #DEDEDE
}

.reviews .card {
    background-color: #F3F3F3 !important
}

.icon-fb {
    color: #3A5795
}

.icon-gp {
    color: #d73d32 !important
}

.icon-twitter {
    color: #1DA1F2
}

.reach .item-note {
    float: right;
    color: #000;
    font-size: 14px;
    font-weight: bold
}

.justify {
    text-align: justify
}

.read-more-btn {
    background-color: red;
    color: #fff;
    margin-top: 8px;
    float: right
}

.filter-input {
    width: 100%;
    padding: 0px 0px 0px 10px !important
}

.heading-sub {
    padding-left: 6px
}

.sub-cat-title {
    padding: 10px;
    font-size: 19px;
    background: gray;
    border: 0px;
    color: #fff
}

.filter-modal .scroll {
    background-color: #444444
}

.white-bg {
    background-color: #fff
}

.mt15 {
    margin-top: 15px !important
}

.footer-btn-wrap {
    position: relative !important;
    height: 100% !important;
    width: 50px !important;
    top: 0px !important
}

.footer-btn-wrap button {
    padding-left: 17px !important
}

.chat-input {
    height: 36px;
    width: 100%
}

.btn-send {
    background-color: black !important;
    color: #fff !important
}

.disabled-a,
.disabled-a>* {
    color: gray !important;
    pointer-events: none !important
}

.uppercase {
    text-transform: uppercase !important
}

.error-border {
    border-bottom: 1px solid red !important
}
.error-text{
    color:red !important;
}

.success-border {
    border-bottom: 1px solid green !important
}

.validation-error {
    color: red;
    font-weight: bold;
    margin-left: 6px;
    margin-top: -22px !important
}

.button.button:disabled {
    background-color: #fbbc05  !important;
    color: white !important
}

.custom-hero {
    height: 110px !important
}

.user-content {
    text-align: left !important;
    margin-left: 25px
}

.user-avatar {
    display: inline-block;
    vertical-align: middle
}

.user-title {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px
}

.m4 {
    margin: 4px !important
}

.mt-4 {
    margin-top: -4px
}

.ml3 {
    margin-left: 3px
}

.feed-item {
    margin: auto 1px !important
}

.side-menu-color {
    background-color: #656565
}

.menu .avatar {
    top: 16px;
    left: 16px;
    height: 75px !important;
    width: 75px !important;
    left: 37% !important
}

.button-small.button-outline.button-balanced {
    padding: 0 5px;
    border-color: #33cd5f !important;
    font-size: 12px
}

.poll-img-wrapper.listing {
    width: 40%;
    margin: 10px;
    float: left
}

.poll-img-wrapper img {
    height: auto;
    width: 100%;
}

.p0 {
    padding: 0 !important
}

.poll-question {
    margin-top: 0px !important;
    padding: 16px 10px
}

.custom-poll-card .item.item-avatar {
    min-height: 70px !important;
    padding-left: 88px !important;
    padding: 25px 10px 0px 88px
}

.custom-poll-card .poll-img {
    top: 10px !important
}

.poll-follow-btn {
    top: -7px !important
}

.askaud-tabs .tabs {
    border-color: #d23f31 !important;
    background-color: #d23f31 !important;
    background-image: linear-gradient(0deg, #d23f31, #d23f31 50%, transparent 50%) !important;
    color: #fff
}

.addOptions {
    color: green;
    font-size: 20px
}

.createPoll .item-input,
.createPoll input {
    background: #fff !important
}

.toClone {
    display: none
}

.title {
    font-size: 16px;
    /*font-weight: bold;*/
    color: #fbbc05;
}

.title-cat {
    font-size: 14px;
    color: #737373;
}

.cover-item-detail {
    background-color: #000 !important
}

.fs20 {
    font-size: 20px !important
}

.item-checkbox-img {
    vertical-align: middle;
    position: absolute !important;
    top: 0px;
    right: 15px;
    height: 100%
}

.option-checkbox {
    /*    position: absolute !important;
        left: 1px !important;
        top: 3px !important;*/
}



.custom-poll-card .item.item-avatar {
    padding: 27px 10px 0px 88px !important
}

.pl16 {
    padding-left: 16px
}

.vlm {
    vertical-align: middle
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden
}

.custom-file-input::before {
    content: 'Select an image';
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 5px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 8pt;
    margin-right: 1px !important;
    line-height: 19px;
    vertical-align: middle;
    margin-bottom: 4px
}

.custom-file-input:hover::before {
    border-color: black
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9)
}

.poll-listing-img img {
    border-radius: 0px !important
}

.no-one-line {
    white-space: normal !important
}

.poll-listing-img h2 {
    font-size: 14px !important
}

.action-button {
    height: 27px !important;
    padding: 7px 10px !important;
    line-height: 18px !important;
    min-height: 30px !important;
    font-size: 12px !important
}

.edit-icon {
    color: #ddd;
    margin-left: 10px !important
}

.ml5 {
    margin-left: 5px !important
}

.options .item {
    margin: 5px 0
}

.connections button {
    padding: 5px;
    font-size: 10px;
    width: 150px
}

a.button.cat-button {
    width: 33.34%;
    line-height: 41px;
    color: #a2a2a2
}

a.button.cat-button:last-child {
    position: relative !important;
    top: 0px !important;
    right: 0px !important;
    bottom: 0px !important
}

.subnav-active {
    font-weight: bold !important;
    color: #000000 !important;
    font-style: italic
}

.cover-input-about1 {
    text-align: center;
    text-transform: uppercase
}

.yes-no-bg {
    /*background-image: url('../img/poll-yes-no.jpg') !important;*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 1px
}

.multiple {
    /*background-image: url('../img/poll-multiple.png') !important;*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 1px
}

.image-poll {
    /*background-image: url('../img/image-poll.jpg') !important;*/
    background-size: 141% 100%;
    background-repeat: no-repeat;
    background-position: -33px -7px
}

.refe {
    /*background-image: url('../img/referendum.jpg') !important;*/
    background-size: 141% 100%;
    background-repeat: no-repeat;
    background-position: -33px -7px
}

.cover-overlay.selected-option {
    border: 6px solid #a0a0a0 !important
}

a.button.cat-button:hover {
    background: #f8f8f8
}

.menu-list .list {
    margin-top: 105px !important
}

.poll-topbar {
    padding: 2px 6px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    color: #fff;
    position: absolute !important;
    z-index: 111 !important;
    margin-top: -23px;
}

.poll-image img {
    width: 100%
}

.padding10 {
    padding: 10px
}

.card-polls .item.item-avatar {
    /*position: absolute;*/
    border: 0px;
    bottom: 0px;
    min-height: 75px
}

.cover-overlay-poll {
    background: linear-gradient(transparent, black);
}

.custom-spacing {
    margin-bottom: 10px;
    border: none
}

.poll-action-panel {
    padding-top: 2px;
    padding-bottom: 2px;
}

.poll-action-panel a {
    font-size: 24px;
    color: #6f6f6f;
    text-transform: capitalize !important;
}

.card-polls .item-avatar > img:first-child {
    max-height: 35px !important;
    max-width: 35px !important;
    top: 6px !important;
    box-shadow: none;
}

.card-polls .item.item-avatar {
    min-height: 45px !important;
    padding-left: 50px !important;
}

.black {
    color: #000000;
}

.card .item {
    border: none !important;
}

.listing-content {
    background-color: #ddd;
}

.bar.bar-energized {
    border-color: #e6b500;
    background-color: #fbbc05 !important;
    background-image: linear-gradient(0deg, #e6b500, #e6b500 50%, transparent 50%);
    color: #fff;
}

.card {
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.4);
}

.poll-name-user {
    color: #222;
    font-size: 16px !important;
    line-height: 14px;
    font-weight: normal !important;
}

.poll-question-text {
    color: #222;
    font-size: 23px !important;
    padding-left: 6px;
    font-weight: normal;
    line-height: 30px;
    text-align: center;
}

.poll-answer-options .item-avatar img {
    border-radius: 0px !important;
    top: 0px;
    left: 2px;
    box-shadow: none;
}

.poll-answer-options .item-avatar {
    min-height: 58px !important;
    margin-top: 0px;
}

.full-transparent {
    background: transparent;
}

.transparent-modal {
    background: rgba(0, 0, 0, 0.80) !important;
}

.light-gray-bg {
    background-color: #dedede !important;
}

.tags h2 {
    font-size: 16px;
    font-weight: normal;
    color: #706f6f;
    height: 25px;
    margin-bottom: 0px;
    line-height: 24px;
    /*border-left: 1px solid #eee;*/
}

.tags {
    /* border-left: 1px solid #f1f1f1;*/
    padding: 10px;
    text-align: center;
}

.top-bar-wrapper {
    /*border-bottom: 1px solid #f1f1f1;*/
    height: 45px;
}

.poll-separator {
    border-bottom: 1px solid #f1f1f1 !important;
    margin: 0px 6px !important;
}

.poll-separator-ver {
    border-left: 1px solid #f1f1f1;
    margin-top: 6px;
    height: 35px;
}

.clear-fix {
    clear: both;
}

.poll-image img {
    box-shadow: none !important;
}

.text-poll .poll-topbar {
    margin-top: 0px;
    position: relative !important;
    background: white !important;
    color: #aaa;
    font-weight: normal;
    font-size: 12px;
    border-bottom: 1px solid #f1f1f1 !important;
}

.card-polls {
    box-shadow: none !important;
    margin-bottom: 10px !important;
    border-radius: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.hidden {
    display: none;
}

.img-poll .poll-topbar {
    background-image: url('../img/gradientbg.png') !important;
    padding-top: 24px !important;
    margin-top: -49px !important;
    padding-bottom: 6px !important;
    background-color: transparent !important;
    /*     font-weight: bold;*/
}
.poll-topbar div span {
    font-size: 12px !important;
}
.poll-answer-options {
    background-color: #eee;
}

.newpoll-subheader {
    height: 30px !important;
}

.newpoll-subheader .button {
    min-height: 30px !important;
    line-height: 30px !important;
    max-height: 30px !important;
}

.has-poll-subheader {
    margin-top: 30px !important;
}

.mr10 {
    margin-right: 10px;
}

.interest-wrapper {
    height: 200px;
    overflow: auto;
}

.interest-checkbox {
    display: inline-block !important;
    vertical-align: middle !important;
    margin-right: 5px !important;
}

.poll-type-imge {
    width: 100px;
}

.poll-block {
    width: 49%;
    float: left;
    text-align: center;
    padding: 12px;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    pointer-events: none;
}

.bottom25 {
    bottom: 25px !important;
}

.not-link {
    color: #ffffff;
    text-decoration: none !important;
    font-size: 12px !important;
}
.text-poll .not-link {
    color: #969494;
    text-decoration: none !important;
    font-size: 12px !important;
}

.custom-item {
    padding-top: 7px !important;
    padding-bottom: 3px !important;
}

.poll-user-tag {
    color: #939393;
}

.no-border {
    border-left: none !important;
}

.fz21 {
    font-size: 21px;
}

.tag-text {
    color: red !important;
    font-size: 13px !important;
}

.col-40 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 40%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
}

.col-60 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 60%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 60%;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
}

.poll-option-btn {
    padding-left: 0px !important;
    padding-right: 0px !important;
    font-size: 14px !important;
    font-weight: bold !important;
}

.poll-option-btn:before {
    margin-right: 7px;
    font-weight: bold !important;
    font-size: 16px;
    vertical-align: middle !important;
}

.checkbox input:checked:before,
.checkbox input:checked + .checkbox-icon:before {
    background: #fbbc05 !important;
    border-color: #d6d6d6 !important;
}

.checkbox input {
    width: 38px !important;
    height: 38px !important;
}

.checkbox input:after,
.checkbox-icon:after {
    top: 35% !important;
    left: 28% !important;
    width: 16px !important;
    height: 8px !important;
    /*border: 3px solid #fff !important;*/
}

.ion-item-custom {
    padding-bottom: 12px;
    padding-top: 12px;
    margin-top: 0px;
}

.poll-option {
    margin-left: 30px;
    font-size: 14px;
    font-weight: bold;
}

/* NG added */

.Nproressbar .poll-option, .Nproressbar .progress-bar-wrap{margin-left: 0;}
.Nproressbar .poll-option{display:block; float: left;}
.Nproressbar .poll-option.ptitle{width:80%;
                                 white-space: nowrap;
                                 overflow: hidden;
                                 text-overflow: ellipsis;
}
.Nproressbar .poll-option.pers{width:20%; text-align: right; float:right}
.clr{clear: both; padding: 0; margin: 0;}

.nlist{position: relative;}
.nlist .circle-result{    z-index: 9999;
                          top: 20px;
                          left: 5px;     background-size: contain;}

.nlist .circle-result.withoutvote{top: 10px;}
.transparentbg{background: rgba(0,0,0,0.7);}
.zoimg{background-position: center center;
       background-size: contain;
       background-repeat: no-repeat;
}
.zclose{position: absolute; cursor: pointer; z-index: 99; color: #fff; font-size: 25px; top: 15px; right: 15px;}
.minust10{margin-top: -10px !important;}
.circleimg{border-radius: 50% !important;}
/* end of NG */

.notification-icon {
    margin-top: -5px;
    font-weight: normal !important;
    color: #818181;
}



.no-height-row {
    margin: 0px;
    padding: 0px 5px;
}

.pb0 {
    padding-bottom: 0px !important;
}

.circle-result {
    position: absolute;
    left: 12px;
    height: 38px;
    width: 38px;
    background-color: #fbbc05;
    border: 1px solid #818181;
    border-radius: 50%;
    color: #fff;
    padding: 11px 0px;
    font-size: 11px;
    left: 0;
    top: 7px;
    text-align: center;
}

.progress-bar {
    width: 0%;
    background-color: #fbbc05;
    height: 100%;
    border-radius: 4px;
}

.progress-bar-wrap {
    height: 7px;
    margin-left: 30px;
    border-radius: 4px;
    background-color: #f1f1f1;
    margin-top: 2px;
    overflow: hidden;
}

.listing-done {
    text-align: center;
    text-transform: uppercase;
    /* background: gray; */
    padding: 0px 0px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.item.title {
    font-size: 20px;
    color: #000;
    border: 0px !important;
    padding-bottom: 6px;
}

.filterpopup i.checkbox-icon {
    float: right !important;
}

.filterpopup .item-checkbox {
    padding-left: 16px !important;
}

.poll-wrapper {
    padding: 0px 12px;
}

.poll-wrapper .item {
    padding-left: 0px !important;
    padding-right: 0px !important;
    border-left: 0px;
    border-right: 0px;
}

.poll-type .item:first-child,
.poll-type .item:nth-child(2) {
    border-top: none !important;
}

.poll-type .item:last-child {
    border-bottom: none !important;
}

.textbox-css {
    height: 45px !important;
    width: 100% !important;
    margin: 8px 0 !important;
    display: inline-block !important;
    border: 1px solid #ccc !important;
    box-shadow: inset 0 1px 3px #ddd !important;
    border-radius: 4px !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.pt0 {
    padding-top: 0px !important;
}

.poll-btn {
    background: #fbbc05;
    color: white;
    border-radius: 0;
    height: 100% !important;
}

.clear-btn {
    background: #4c4c4c;
    color: #fff;
    height: 100% !important;
    border-radius: 0;
}
.sort-text{
    font-size: 10px;
    margin-right: 10px;
}
.select-wrap {
    padding: 9px 0px 5px 0px;
}
.custom-checkbox .checkbox {
    padding-right: 0px !important;
}
.custom-vln {
    width: 32%;
    display: inline-block;
    vertical-align: top;
    float: right;
}
.custom-vln-2 {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    float: right;
}
.custom-vln-2 .tar {
    margin-right: 10px;
    color: #fbbc05;
}
.tar {
    text-align: center !important;}
.group-name{
    font-size: 20px!important;padding: 10px 0; line-height: 47px;
}
.circlebtn {
    position: fixed;
    right: 20px;
    bottom: 60px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fbbc05;
    text-align: center;
    color: #fff;
    line-height: 50px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.5);
    z-index: 999;
}

.popup-vertical-buttons .popup-buttons {
    display: block;
}
.popup-vertical-buttons .popup-buttons .button{
    display:block;
    min-width: 100% !important;
    margin-top: 10px;
}

span.badge{
    float: right;
    top: -4px;
    right: 15px;;
    font-size: 10px;
    display: inline-block;
}

.poll-name-user {margin-top: 10px !important;}
.pr60 {
    padding-right: 60px !important;
}
.image-avatar-option .circle-result {
    background-size: cover  !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}
.ion-google-place-container{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    display: none;
}


input.ion-google-place[readonly]{
    background-color: transparent;
    cursor: text;
}
.profile-name {
    line-height: 43px;
    padding-left: 15px;
}
.txt-left {
    text-align: left !important;
}
.mb10 {
    margin-bottom: 10px;
}
.pb0 {
    padding-bottom: 0px;
}
.profile-bg {
    background-color: #fff !important;
}
.poll-btn {
    background: #fbbc05 !important;
    color: #fff !important;
}
.w100 {
    width: 100%;
}

.poll-action-panel a {
    line-height: 50px !important;
    font-weight: normal !important;
}
.item-avatar h2 {
    text-transform: capitalize;
    padding-left: 5px;
}
.active-cat {
    font-weight: bold;
}
.popover a.item, .p10 {
    padding: 10px !important;
}
.ion-autocomplete-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    display: none;
    margin: auto;
}
input.ion-autocomplete[readonly] {
    background-color: transparent;
    cursor: text;
}
.ion-autocomplete-loading-icon {
    padding-left: 10px;
}
.custom-popover {
    height: 128px;
}
.h100 {
    height: 100% !important;
}
.no-radius {
    border-radius: 0px !important;
}
.filter-ddl {
    padding: 12px 2px 12px 0px !important;
}
.left-checkbox .item.item-checkbox{
    padding-left: 20px !important;
    padding-right: 0px !important;
    border-left: 0px;
    border-right: 0px;
    border-right: 1px solid #eee;
}
.left-checkbox .checkbox-icon{
    float: right !important;
}
.ion-datetime-picker-popup button, .popup-container button {
    font-size: 12px !important;
}
.tooltip {
    font-size: 10px;
    color:#868686;
}
.button.button-positive, .button.button-positive:hover, .button.button-positive:focus {
    border-color: transparent;
    background-color: #fbbc05 ;
    // color: #fff;
}
.reposts-icon {
    padding-top: 1px;
}
.sort-icon:before {
    transform: rotate(90deg);
}
.reponstedby-popup .popup{
    width: 90%;
}
.reponstedby-popup .item{
    min-height: 55px;
    padding-left: 70px;
    padding-top: 10px;
}
.reponstedby-popup h2{
    padding-top: 6px;
}
.reponstedby-popup img{
    top: 10px !important;
    max-height: 35px !important;
    max-width: 35px !important;
}
.white-bg {
    background-color: #fff !important;
}
textarea.pollquestion {
    resize: none;
    /* background: #FFF; */
    height: 80px;
    /* vertical-align: middle; */
    /* padding-top: 10px; */
    width: 100%;
    -webkit-appearance: textfield;
    padding: 1px;
    overflow: hidden;
    word-wrap: break-word;
    cursor: text;
    background-color: #fff;
    border: 1px solid #a9a9a9;
    box-shadow: 1px 1px 1px 0 #d3d3d3 inset;
    /* height: 100%; */
}
.listing-more-popup {
    left: auto !important;
    height: 90px !important;
}
.no-result {
    color: gray;
    margin-top: 10px;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
}

.no-polls-msg {
    text-align: center  !important;
    background: white  !important;
    padding: 10px  !important;
    border-top: 1px solid #eee  !important;
    font-weight: bold  !important;
}
.hide {
    display: none !important;
}
.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    opacity: 1; 
}
.title.title-left.header-item{
    left: 35px !important;
}

.user-searchbox{
    width: 100%;
    padding: 0px 20px 0px 40px!important;
    height: 50px!important;
}
.search-icon{
    font-size: 25px;
    color: #4c4c4c;
    position: absolute;
    line-height: 50px;
    padding: 0px 10px;
}

.user-list .user-b{
    padding: 9px;
    border-bottom: 1px solid #ccc;
}
.user-add-icon{
    position: absolute;right: 25px;margin: auto;
}

.tab-half-width{
    width: 49%;
    float: left;
    text-align: center;
}
.grp-member-list{
    background: #fff;
}
.fix-bottom{
    position: fixed;
    margin: auto;
    width: 100%;
    bottom: 40px;
}

.grp-subheading{
   padding-left: 15px;
   color:#848484;
}

.profile-icon{
    height: 40px; 
    width: 40px;
    vertical-align: middle;
    border-radius: 50%;
}
.profile-icon-small{
    height: 25px; width: 25px;vertical-align: text-top;
    border-radius: 50%;
}
.search-items{
    font-size: 20px!important;
}

.group-title{
    text-align: center;padding-top: 10px;color:#737373;
}